<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Datepicker</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />
  </head>
  <body>
    <div class="title">Datepicker Component</div>

    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <date-picker displayContextExamples plumage></date-picker>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Date picker calendar</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section
                class="display-box-demo"
                style="display: flex; justify-content: center"
              >
                <date-range-picker id="dateRangePicker"></date-range-picker>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Date Range Picker</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section
                class="display-box-demo"
                style="display: flex; justify-content: center"
              >
                <date-range-time-picker
                  id="dateRangeTimePicker"
                  showDuration
                  is24HourFormat="false"
                ></date-range-time-picker>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Date Range Time Picker
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>

        <section>
          <!-- <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div style="width: 210px">
                  <datepicker-manager></datepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Date picker calendar</div>
                <div class=""></div>
              </section>
            </section>
          </section> -->

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div>
                  <date-picker-new calendar></date-picker-new>
                </div>
                <div style="width: 210px">
                  <date-picker-new></date-picker-new>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Date picker calendar</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <!-- <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div style="width: 325px">
                  <datepicker-manager
                    selectedPicker="daterange"
                    joinBy="to"
                  ></datepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Date Range Picker</div>
                <div class=""></div>
              </section>
            </section>
          </section> -->

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div>
                  <date-range-picker-new
                    rangePicker
                    joinBy="to"
                  ></date-range-picker-new>
                </div>

                <div style="width: 325px">
                  <date-range-picker-new joinBy="to"></date-range-picker-new>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Date Range Picker</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <!-- <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div style="width: 405px">
                  <datepicker-manager
                    dateFormat="MM-DD-YYYY"
                    selectedPicker="daterangetime"
                    joinBy="to"
                    is24HourFormat="true"
                    showDuration
                  ></datepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Date Range Time Picker
                </div>
                <div class=""></div>
              </section>
            </section>
          </section> -->

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div>
                  <date-range-time-picker-new
                    rangeTimePicker
                    joinBy="to"
                    showDuration
                    is24HourFormat="false"
                  ></date-range-time-picker-new>
                </div>

                <div style="width: 430px">
                  <date-range-time-picker-new
                    joinBy="to"
                    showDuration
                  ></date-range-time-picker-new>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Date Range Picker</div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <script type="module" src="./datepicker.js"></script>
    <script type="module" src="./datepicker-new.js"></script>

    <script type="module" src="./daterangepicker.js"></script>
    <script type="module" src="./daterangepicker-new.js"></script>

    <script type="module" src="./dateRangeTimePicker.js"></script>
    <script type="module" src="./dateRangeTimePicker-new.js"></script>
    <script type="module" src="./datepicker-manager.js"></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const datePicker = document.getElementById("dateRangePicker");
        if (datePicker) {
          // console.log("DateRangePicker element found and listener attached"); // Log to confirm listener attachment
          datePicker.addEventListener("date-range-updated", function (event) {
            // console.log("Event detail received in listener:", event.detail); // Second log
          });
        } else {
          // console.log("DateRangePicker element not found"); // Log if the element is not found
        }

        const dateTimePicker = document.getElementById("dateRangeTimePicker");
        if (dateTimePicker) {
          // console.log(
          //   "DateRangeTimePicker element found and listener attached"
          // ); // Log to confirm listener attachment
          dateTimePicker.addEventListener(
            "date-time-updated",
            function (event) {
              // console.log("Event detail received in listener:", event.detail); // Second log
            }
          );
        } else {
          // console.log("DateRangeTimePicker element not found"); // Log if the element is not found
        }
      });
    </script>
  </body>
</html>
