<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Datepicker</title>
  <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
  <link rel="stylesheet" href="../../../node_modules/lit-fontawesome/css/font.css">
  <link rel="stylesheet" href="../../styles/components.css">
</head>
<body>
  <div class="title">Datepicker Component</div>

  <div class="demo-wrapper">
    <div class="main">
      <section>
        <section class="section">
          <section class="display-box" id="db-1">
            <section class="display-box-demo">
              <date-picker></date-picker>
            </section>
            <section class="display-box-meta markdown">
              <div class="display-box-title">Basic Usage</div>
              <div class="display-box-description">Basic Divider</div>
              <div class=""></div>
            </section>
          </section>
        </section>

        <section class="section">
          <section class="display-box" id="db-1">
            <section class="display-box-demo">
              <date-range-picker></date-range-picker>
            </section>
            <section class="display-box-meta markdown">
              <div class="display-box-title">Basic Usage</div>
              <div class="display-box-description">Basic Divider</div>
              <div class=""></div>
            </section>
          </section>
        </section>
      </section>
    </div>
  </div>

  <script type="module" src="./datepicker.js"></script>
  <script type="module" src="./daterangepicker.js"></script>
</body>
</html>
