<!DOCTYPE html>
<html>
  <title>Plumage Select Field Component</title>
  <head>
    <!-- <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />

    <style>
      .content-box {
        flex: 1 1 auto;
      }
      .flex {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="title">Plumage Select Field Component</div>

    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <pl-select-field-component
                    label="Select Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections"
                    slot="formField"
                  ></pl-select-field-component>
                </form-component>

                <hr />

                <form-component formLayout="horizontal">
                  <pl-select-field-component
                    label="Horizontal Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections8"
                    slot="formField"
                  ></pl-select-field-component>
                </form-component>

                <hr />

                <form-component formLayout="inline">
                  <pl-select-field-component
                    label="Inline Select Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections9"
                    slot="formField"
                  ></pl-select-field-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Vertical, Horizontal and Inline layout Select Field
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <pl-select-field-component
                    custom
                    label="Custom Select Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections7"
                    slot="formField"
                  ></pl-select-field-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Custom Select Field</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <pl-select-field-component
                    label="Select Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections1"
                    multiple
                    slot="formField"
                  ></pl-select-field-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Multiple Select Field</div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <pl-select-field-component
                    label="Select Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections2"
                    validation
                    validationMessage="This is a validation message"
                    slot="formField"
                  ></pl-select-field-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Select field validation
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <pl-select-field-component
                    label="Select Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections10"
                    slot="formField"
                    disabled
                  ></pl-select-field-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Disabled Select field</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <pl-select-field-component
                    label="Small Select Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections4"
                    size="sm"
                    slot="formField"
                  ></pl-select-field-component>

                  <pl-select-field-component
                    label="Default Select Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections5"
                    slot="formField"
                  ></pl-select-field-component>

                  <pl-select-field-component
                    label="Large Select Field"
                    inputId="input-1"
                    formLayout="vertical"
                    id="selections6"
                    size="lg"
                    slot="formField"
                  ></pl-select-field-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Select field size, sm, default and lg
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- Props -->
    <div style="margin-top: 50px">
      <div class="title">Props</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>custom</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When this is true, the select field is styled to look like a
                custom select field.
              </td>
            </tr>
            <tr>
              <td>defaultTxt</td>
              <td>String</td>
              <td></td>
              <td>
                This is the default text that is displayed when the select field
                is empty.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When this is true, the select field is disabled and users cannot
                interact with it.
              </td>
            </tr>
            <tr>
              <td>formLayout</td>
              <td>String</td>
              <td>horizontal, inline</td>
              <td>
                This changes the layout of the select field. The default is
                vertical. If select field component is used inside a form
                component, then formLayout prop of form component will be
                applied to select field component and therefore it does not have
                to be added to the select field component. Also, remember to
                import your components in the correct order.
              </td>
            </tr>
            <tr>
              <td>formId</td>
              <td>String</td>
              <td></td>
              <td>
                This is the id of the form. When used, the id is added to the
                form and to the select field's form attribute.
              </td>
            </tr>
            <tr>
              <td>selectFieldId</td>
              <td>String</td>
              <td></td>
              <td>
                This is the id of the select field. When used, the id is added
                to the select field and to the label's 'for' attribute.
              </td>
            </tr>
            <tr>
              <td>options</td>
              <td>Array</td>
              <td></td>
              <td>
                This is the options for the select field. The array should be in
                the format: [{value: 'value', name: 'name', selected: true}]
              </td>
            </tr>
            <tr>
              <td>size</td>
              <td>String</td>
              <td>sm, lg</td>
              <td>
                This changes the size of the select field. The default is
                default.
              </td>
            </tr>
            <tr>
              <td>label</td>
              <td>String</td>
              <td></td>
              <td>
                This is the label for the select field. When used the label is
                added to the aria-label and placeholder (unless placeholder prop
                is used) attribute.
              </td>
            </tr>
            <tr>
              <td>labelHidden</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                This hides the label to be used by screen readers and uses it as
                the placeholder text (unless placeholder prop is used).
              </td>
            </tr>
            <tr>
              <td>multiple</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When this is true, the select field allows multiple selections.
              </td>
            </tr>
            <tr>
              <td>required</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                This makes the select field required and displays an asterisk
                next to the label.
              </td>
            </tr>
            <tr>
              <td>validation</td>
              <td>Boolean</td>
              <td>false</td>
              <td>When true, this will display the select field in red.</td>
            </tr>
            <tr>
              <td>validationMessage</td>
              <td>String</td>
              <td></td>
              <td>
                This is the message that will be displayed when the select field
                is in a validation state.
              </td>
            </tr>
            <tr>
              <td>value</td>
              <td>String</td>
              <td></td>
              <td>This is the value of the select field.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Slots -->
    <div style="margin-top: 50px">
      <div class="title">Slots</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Slot</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>formField</td>
              <td>
                This is the slot for form fields. It is used when using inside a
                form component.<br />
                Add <span class="example">slot="formField"</span> to the input
                field component.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <div class="title">Using Component in other JavaScript Frameworks</div>

      <p>
        Integrating a Lit Element component with other JavaScript frameworks
        like Vue, React, and Angular involves creating a wrapper component in
        each framework to encapsulate and use the Lit Element component. Here
        are examples for each framework:
      </p>

      <h5>Vue.js</h5>
      <p>
        Assuming you have Vue components for PlSelectField.
      </p>
      <p>
        In your Vue component file, use the following code and in your Vue
        template, use the 'select-field-vue' custom element:
      </p>
      <pre>
          <code>
            &#60;template&#62;
              &#60;div&#62;
                &#60;!-- SelectFieldVue.vue --&#62;
                &#60;pl-select-field :label="'Vue Select Field'" :options="vueOptions"&#62;&#60;/pl-select-field&#62;
              &#60;/div&#62;
            &#60;/template&#62;

              &#60;script&#62;
            import PlSelectField from 'path-to-vue-select-field'; // Adjust the import path

            export default {
              components: {
                PlSelectField,
              },
              data() {
                return {
                  vueOptions: [
                    { value: 'option1', name: 'Option 1' },
                    { value: 'option2', name: 'Option 2' },
                    { value: 'option3', name: 'Option 3' },
                  ],
                };
              },
            };
            &#60;/script&#62;
          </code>
        </pre>

      <h5>React</h5>
      <p>Assuming you have React components for PlSelectField.</p>
      <pre>
          <code>
            // ReactSelectField.jsx
            import React from 'react';
            import PlSelectField from 'path-to-react-select-field'; // Adjust the import path

            const ReactSelectField = () => {
              const reactOptions = [
                { value: 'option1', name: 'Option 1' },
                { value: 'option2', name: 'Option 2' },
                { value: 'option3', name: 'Option 3' },
              ];

              return (
                &#60;div&#62;
                  &#60;PlSelectField label="React Select Field" options={reactOptions} /&#62;
                &#60;/div&#62;
              );
            };

            export default ReactSelectField;
          </code>
        </pre>

      <h5>Angular</h5>
      <p>Assuming you have Angular components for PlSelectField.</p>
      <pre>
          <code>
            // select-field-angular.component.ts
            import { Component } from '@angular/core';
            import { PlSelectFieldComponent } from 'path-to-angular-select-field'; // Adjust the import path
            
            @Component({
              selector: 'app-select-field-angular',
              template: `
                &#60;div&#62;
                  &#60;app-pl-select-field label="Angular Select Field" [options]="angularOptions"&#62;&#60;/app-pl-select-field&#62;
                &#60;/div&#62;
              `,
            })
            export class SelectFieldAngularComponent {
              angularOptions = [
                { value: 'option1', name: 'Option 1' },
                { value: 'option2', name: 'Option 2' },
                { value: 'option3', name: 'Option 3' },
              ];
            }            
          </code>
        </pre>

      <p>
        Adjust the paths and imports based on your project structure. The
        provided examples showcase how to create wrapper components for each
        framework to use your Lit Element 'SelectField' component. 
      </p>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>
    </div>

    <script src="../form/form.js" type="module"></script>
    <script type="module">
      import "./pl-select-field.js";

      document.addEventListener("DOMContentLoaded", () => {
        // Dynamically selectable options
        const selections = document.getElementById("selections");
        if (selections) {
          selections.options = [
            { value: "", name: "Select an option", selected: true },
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            {
              value: "option3",
              name: "Select option 3",
            },
            {
              value: "option4",
              name: "Select option 4",
            },
            {
              value: "option5",
              name: "Select option 5",
            },
            {
              value: "option6",
              name: "Select option 6",
            },
            // Add more options as needed
          ];
        }

        // Dynamically selectable options
        const selections1 = document.getElementById("selections1");
        if (selections1) {
          selections1.options = [
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            {
              value: "option3",
              name: "Select option 3",
            },
            {
              value: "option4",
              name: "Select option 4",
            },
            {
              value: "option5",
              name: "Select option 5",
            },
            {
              value: "option6",
              name: "Select option 6",
            },
            // Add more options as needed
          ];
        }

        // Dynamically selectable options
        const selections2 = document.getElementById("selections2");
        if (selections2) {
          selections2.options = [
            { value: "", name: "Select an option", selected: true },
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            {
              value: "option3",
              name: "Select option 3",
            },
            {
              value: "option4",
              name: "Select option 4",
            },
            {
              value: "option5",
              name: "Select option 5",
            },
            {
              value: "option6",
              name: "Select option 6",
            },
            // Add more options as needed
          ];
        }

        // Dynamically selectable options
        const selections4 = document.getElementById("selections4");
        if (selections4) {
          selections4.options = [
            { value: "", name: "Select an option", selected: true },
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            {
              value: "option3",
              name: "Select option 3",
            },
            {
              value: "option4",
              name: "Select option 4",
            },
            {
              value: "option5",
              name: "Select option 5",
            },
            {
              value: "option6",
              name: "Select option 6",
            },
            // Add more options as needed
          ];
        }

        // Dynamically selectable options
        const selections5 = document.getElementById("selections5");
        if (selections5) {
          selections5.options = [
            { value: "", name: "Select an option", selected: true },
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            {
              value: "option3",
              name: "Select option 3",
            },
            {
              value: "option4",
              name: "Select option 4",
            },
            {
              value: "option5",
              name: "Select option 5",
            },
            {
              value: "option6",
              name: "Select option 6",
            },
            // Add more options as needed
          ];
        }

        // Dynamically selectable options
        const selections6 = document.getElementById("selections6");
        if (selections6) {
          selections6.options = [
            { value: "", name: "Select an option", selected: true },
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            {
              value: "option3",
              name: "Select option 3",
            },
            {
              value: "option4",
              name: "Select option 4",
            },
            {
              value: "option5",
              name: "Select option 5",
            },
            {
              value: "option6",
              name: "Select option 6",
            },
            // Add more options as needed
          ];
        }

        // Dynamically selectable options
        const selections7 = document.getElementById("selections7");
        if (selections7) {
          selections7.options = [
            { value: "", name: "Select an option", selected: true },
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            {
              value: "option3",
              name: "Select option 3",
            },
            {
              value: "option4",
              name: "Select option 4",
            },
            {
              value: "option5",
              name: "Select option 5",
            },
            {
              value: "option6",
              name: "Select option 6",
            },
            // Add more options as needed
          ];
        }

        // Dynamically selectable options
        const selections8 = document.getElementById("selections8");
        if (selections8) {
          selections8.options = [
            { value: "", name: "Select an option", selected: true },
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            {
              value: "option3",
              name: "Select option 3",
            },
            {
              value: "option4",
              name: "Select option 4",
            },
            {
              value: "option5",
              name: "Select option 5",
            },
            {
              value: "option6",
              name: "Select option 6",
            },
            // Add more options as needed
          ];
        }

        // Dynamically selectable options
        const selections9 = document.getElementById("selections9");
        if (selections9) {
          selections9.options = [
            { value: "", name: "Select an option", selected: true },
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            {
              value: "option3",
              name: "Select option 3",
            },
            {
              value: "option4",
              name: "Select option 4",
            },
            {
              value: "option5",
              name: "Select option 5",
            },
            {
              value: "option6",
              name: "Select option 6",
            },
            // Add more options as needed
          ];
        }

        // Dynamically selectable options
        const selections10 = document.getElementById("selections10");
        if (selections10) {
          selections10.options = [
            { value: "", name: "Select an option", selected: true },
            {
              value: "option1",
              name: "Select option 1",
            },
            {
              value: "option2",
              name: "Select option 2",
            },
            // Add more options as needed
          ];
        }
      });
    </script>

    <!-- <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
  </body>
</html>
