<!DOCTYPE html>
<html>
  <title>Input Field Group Component</title>
  <head>
    <!-- <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />
    <link rel="stylesheet" href="../layout.css" />

    <style>
      .content-box {
        flex: 1 1 auto;
      }
      .flex {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="title">Input Group Component</div>
    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <!-- <form-component> -->
                <input-group-component
                  label="Username"
                  name="input-1"
                  value=""
                  prepend
                  prependId="prepend-1"
                  ><span slot="prepend">@</span></input-group-component
                >

                <input-group-component
                  label="Username"
                  name="input-1"
                  value=""
                  append
                  appendId="append-1"
                  ><span slot="append">@</span></input-group-component
                >
                <!-- </form-component> -->
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Prepend or Append Vertical Input Group with Label
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-2">
              <section class="display-box-demo">
                <form-component formLayout="horizontal">
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    prepend
                    prependId="prepend-1"
                  >
                    <span slot="prepend">@</span>
                  </input-group-component>
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    append
                    appendId="append-1"
                  >
                    <span slot="append">@</span>
                  </input-group-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Prepend or Append Horizontal Input Group with Label
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-3">
              <section class="display-box-demo">
                <form-component formLayout="inline">
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    prepend
                    prependId="prepend-1"
                    ><span slot="prepend">@</span></input-group-component
                  >

                  <input-group-component
                    label="Password"
                    name="input-2"
                    value=""
                    slot="input"
                    icon="fas fa-unlock"
                    prepend
                    prependId="prepend-2"
                  ></input-group-component>
                </form-component>

                <form-component formLayout="inline">
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    append
                    appendId="append-1"
                    ><span slot="append">@</span></input-group-component
                  >

                  <input-group-component
                    label="Password"
                    name="input-2"
                    value=""
                    slot="input"
                    icon="fas fa-unlock"
                    append
                    appendId="append-2"
                  ></input-group-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Prepend or Append Inline Input Group with Label
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-4">
              <section class="display-box-demo">
                <form-component>
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    labelHidden
                    prepend
                    prependId="prepend-1"
                  >
                    <span slot="prepend">@</span>
                  </input-group-component>

                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    labelHidden
                    append
                    appendId="append-1"
                  >
                    <span slot="append">@</span>
                  </input-group-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Prepend or Append Input Group
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-5">
              <section class="display-box-demo">
                <form-component>
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    labelHidden
                    append
                    appendId="append-1"
                    prepend
                    prependId="prepend-1"
                  >
                    <span slot="prepend">@</span>
                    <span slot="append">@</span>
                  </input-group-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Both Prepend and Append Input Group
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
        <section>
          <section class="section">
            <section class="display-box" id="db-6">
              <section class="display-box-demo">
                <form-component>
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    prepend
                    prependId="prepend-1"
                    required
                  >
                    <span slot="prepend">@</span>
                  </input-group-component>

                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    append
                    appendId="append-1"
                    required
                  >
                    <span slot="append">@</span>
                  </input-group-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Required Input Group</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-7">
              <section class="display-box-demo">
                <form-component>
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    prepend
                    prependId="prepend-1"
                    required
                    validation
                    validationMessage="Please enter your Username."
                  >
                    <span slot="prepend">@</span>
                  </input-group-component>
                </form-component>
                <hr />
                <form-component formLayout="horizontal">
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    append
                    appendId="append-1"
                    required
                    validation
                    validationMessage="Please enter your Username."
                  >
                    <span slot="append">@</span>
                  </input-group-component>
                </form-component>
                <hr />
                <form-component formLayout="inline">
                  <input-group-component
                    label="Username"
                    name="input-1"
                    value=""
                    slot="input"
                    append
                    appendId="append-1"
                    required
                    validation
                    validationMessage="Please enter your Username."
                    ><span slot="append">@</span></input-group-component
                  >

                  <input-group-component
                    label="Password"
                    name="input-2"
                    value=""
                    slot="input"
                    icon="fas fa-unlock"
                    append
                    appendId="append-2"
                    required
                    validation
                    validationMessage="Please enter your Password."
                  ></input-group-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Validation Input Group
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-8">
              <section class="display-box-demo">
                <!-- <form-component> -->
                <input-group-component
                  label="Username"
                  name="input-1"
                  value=""
                  labelHidden
                  size="sm"
                  prepend
                  prependId="prepend-1"
                  placeholder="Small Input Group"
                >
                  <span slot="prepend">@</span>
                </input-group-component>

                <input-group-component
                  label="Username"
                  name="input-2"
                  value=""
                  labelHidden
                  prepend
                  prependId="prepend-2"
                  placeholder="Default Input Group"
                >
                  <span slot="prepend">@</span>
                </input-group-component>

                <input-group-component
                  label="Username"
                  name="input-3"
                  value=""
                  labelHidden
                  prepend
                  prependId="prepend-3"
                  size="lg"
                  placeholder="Large Input Group"
                >
                  <span slot="prepend">@</span>
                </input-group-component>
                <!-- </form-component> -->
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Input Group Sizing</div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- Props -->
    <div style="margin-top: 50px">
      <div class="title">Props</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>append</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When this is true, the input field will have an append icon or
                text.
              </td>
            </tr>
            <tr>
              <td>appendId</td>
              <td>String</td>
              <td></td>
              <td>
                This is the id of the append icon or text. This is used to
                associate the input field with the append icon or text.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When this is true, the input field is disabled and users cannot
                interact with it.
              </td>
            </tr>
            <tr>
              <td>formLayout</td>
              <td>String</td>
              <td>horizontal, inline</td>
              <td>
                This changes the layout of the input group field. The default is
                vertical. If input group component is used inside a form
                component, then formLayout prop of form component will be
                applied to input group component and therefore it does not have
                to be added to the input group component. Also, remember to
                import your components in the correct order.
              </td>
            </tr>
            <tr>
              <td>icon</td>
              <td>String</td>
              <td></td>
              <td>
                This property is used to add an icon to the append or prepend
                portion of the input field. Currently only Font Awesome icons
                are supported.
              </td>
            </tr>
            <tr>
              <td>inputId</td>
              <td>String</td>
              <td></td>
              <td>
                This is the id of the input field. When used, the id is added to
                the input and to the label's 'for' attribute.
              </td>
            </tr>
            <tr>
              <td>label</td>
              <td>String</td>
              <td></td>
              <td>
                This is the label for the input field. When used the label is
                added to the aria-label and placeholder (unless placeholder prop
                is used) attribute.
              </td>
            </tr>
            <tr>
              <td>labelHidden</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                This hides the label to be used by screen readers and uses it as
                the placeholder text (unless placeholder prop is used).
              </td>
            </tr>
            <tr>
              <td>placeholder</td>
              <td>String</td>
              <td></td>
              <td>
                This is the placeholder text for the input field. When used, the
                placeholder is added to the input field. If not used, the label
                will be used as the placeholder text.
              </td>
            </tr>
            <tr>
              <td>prepend</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When this is true, the input field will have a prepend icon or
                text.
              </td>
            </tr>
            <tr>
              <td>prependId</td>
              <td>String</td>
              <td></td>
              <td>
                This is the id of the prepend icon or text. This is used to
                associate the input field with the prepend icon or text.
              </td>
            </tr>
            <tr>
              <td>required</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                This makes the input field required and displays an asterisk
                next to the label.
              </td>
            </tr>
            <tr>
              <td>size</td>
              <td>String</td>
              <td>sm, lg</td>
              <td>
                This changes the size of the input field. The default is
                default.
              </td>
            </tr>
            <tr>
              <td>type</td>
              <td>String</td>
              <td>text, email, password, url, tel, search, hidden, date</td>
              <td>This is the type of input field. The default is text.</td>
            </tr>
            <tr>
              <td>validation</td>
              <td>Boolean</td>
              <td>false</td>
              <td>When true, this will display the input in red.</td>
            </tr>
            <tr>
              <td>validationMessage</td>
              <td>String</td>
              <td></td>
              <td>
                This is the message that will be displayed when the input field
                is in a validation state.
              </td>
            </tr>
            <tr>
              <td>value</td>
              <td>String</td>
              <td></td>
              <td>This is the value of the input field.</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Slots -->
    <div style="margin-top: 50px">
      <div class="title">Slots</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Slot</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>input</td>
              <td>
                This is the slot for the input field. It is used when using
                inside a form component.<br />
                Add <span class="example">slot="input"</span> to the input field
                component.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <div class="title">Using Component in other JavaScript Frameworks</div>

      <p>
        Integrating a Lit Element component with other JavaScript frameworks
        like Vue, React, and Angular involves creating a wrapper component in
        each framework to encapsulate and use the Lit Element component. Here
        are examples for each framework:
      </p>

      <h5>Vue.js</h5>
      <p>
        In a Vue component, you'd use InputGroup just like any other HTML
        element:
      </p>
      <pre>
          <code>
            &#60;template&#62;
              &#60;div&#62;
              &#60;!-- Other Vue components or HTML --&#62;
              &#60;input-group-component
                    :append="true"
                    :appendId="'append-icon-id'"
                    :disabled="false"
                    :formLayout="'horizontal'"
                    :icon="'fa fa-search'"
                    :inputId="'your-input-id'"
                    :inputSize="'lg'"
                    :label="'Your Label'"
                    :labelHidden="false"
                    :placeholder="'Your Placeholder'"
                    :prepend="true"
                    :prependId="'prepend-icon-id'"
                    :required="true"
                    :size="'md'"
                    :type="'text'"
                    :validation="false"
                    :validationMessage="'Your Validation Message'"
                    :value="'Your Initial Value'"
                    &#62;&#60;/input-group-component&#62;
                  &#60;!-- Other Vue components or HTML --&#62;
                  &#60;/div&#62;
                  &#60;/template&#62;
              
                  &#60;script&#62;
              // Import the Lit Element component
              import './path-to-lit-element-component/input-group.js';
              
              export default {
                // Vue component options
              };
              &#60;/script&#62;
              
              &#60;style&#62;
              /* Vue-specific styles */
              &#60;/style&#62;
          </code>
        </pre>

      <h5>React</h5>
      <p>
        In a React component, you'd similarly treat InputGroup as a regular HTML
        element:
      </p>
      <pre>
          <code>
            import React from 'react';
            // Import the Lit Element component
            import './path-to-lit-element-component/input-group.js';
            
            function YourReactComponent() {
              return (
                &#60;div&#62;
                  {/* Other React components or JSX */}
                  &#60;input-group-component
                    append={true}
                    appendId="append-icon-id"
                    disabled={false}
                    formLayout="horizontal"
                    icon="fa fa-search"
                    inputId="your-input-id"
                    inputSize="lg"
                    label="Your Label"
                    labelHidden={false}
                    placeholder="Your Placeholder"
                    prepend={true}
                    prependId="prepend-icon-id"
                    required={true}
                    size="md"
                    type="text"
                    validation={false}
                    validationMessage="Your Validation Message"
                    value="Your Initial Value"
                    &#62;&#60;/input-group-component&#62;
                  {/* Other React components or JSX */}
                  &#60;/div&#62;
              );
            }
            
            export default YourReactComponent;
          </code>
        </pre>

      <h5>Angular</h5>
      <p>In Angular, you'd use InputGroup as part of your Angular template:</p>

      <pre>
          <code>
            import { Component } from '@angular/core';
            // Import the Lit Element component
            import './path-to-lit-element-component/input-group.js';
            
            @Component({
              selector: 'your-angular-component',
              template: `
              &#60;div&#62;
              &#60;!-- Other Angular components or HTML --&#62;
              &#60;input-group-component
                    [append]="true"
                    [appendId]="'append-icon-id'"
                    [disabled]="false"
                    [formLayout]="'horizontal'"
                    [icon]="'fa fa-search'"
                    [inputId]="'your-input-id'"
                    [inputSize]="'lg'"
                    [label]="'Your Label'"
                    [labelHidden]="false"
                    [placeholder]="'Your Placeholder'"
                    [prepend]="true"
                    [prependId]="'prepend-icon-id'"
                    [required]="true"
                    [size]="'md'"
                    [type]="'text'"
                    [validation]="false"
                    [validationMessage]="'Your Validation Message'"
                    [value]="'Your Initial Value'"
                    &#62; &#60;/input-group-component>
                  &#60;!-- Other Angular components or HTML --&#62;
                  &#60;/div&#62;
              `,
              styles: [/* Angular-specific styles */]
            })
            export class YourAngularComponent {
              // Angular component logic
            }            
          </code>
        </pre>

      <p>
        These examples assume that you've configured your framework project to
        work with web components and that you've imported the Lit Element
        component correctly. Adjust import paths accordingly.
      </p>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>
    </div>

    <script src="../form/form.js" type="module"></script>
    <script src="./input-group.js" type="module"></script>
    <!-- <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
  </body>
</html>
