<!DOCTYPE html>
<html>
  <title>Checkbox/Radio Input Component</title>
  <head>
    <!-- <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />

    <style>
      .content-box {
        flex: 1 1 auto;
      }
      .flex {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="title">Checkbox/Radio Input Component</div>

    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <checkbox-radio-input-component
                    checkbox
                    inputId="cbx-1"
                    labelTxt="Checkbox Option 1"
                    slot="formField"
                  ></checkbox-radio-input-component>

                  <checkbox-radio-input-component
                    checkbox
                    inputId="cbx-2"
                    labelTxt="Checkbox Option 2 (Disabled)"
                    disabled
                    slot="formField"
                  ></checkbox-radio-input-component>
                </form-component>

                <hr />
                <form-component formLayout="inline" formId="form-1">
                  <checkbox-radio-input-component
                    checkbox
                    inputId="cbx-1"
                    labelTxt="Checkbox Option 1"
                    slot="formField"
                  ></checkbox-radio-input-component>

                  <checkbox-radio-input-component
                    checkbox
                    inputId="cbx-2"
                    labelTxt="Checkbox Option 2 (Disabled)"
                    disabled
                    slot="formField"
                  ></checkbox-radio-input-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Single Checkbox components - Disabled and Vertical and Inline
                  layout
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <checkbox-radio-input-component
                    radioGroup
                    name="radio-group"
                    id="dynamic-radio-group"
                    slot="formField"
                  ></checkbox-radio-input-component>
                </form-component>
                <hr />
                <form-component formLayout="inline">
                  <checkbox-radio-input-component
                    inline
                    radioGroup
                    name="radio-group2"
                    id="dynamic-radio-group2"
                    slot="formField"
                  ></checkbox-radio-input-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Radio Group - Disabled and Vertical and Inline layout
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <checkbox-radio-input-component
                    checkbox
                    inputId="cbx-1"
                    labelTxt="Small Label"
                    slot="formField"
                    size="sm"
                  ></checkbox-radio-input-component>

                  <checkbox-radio-input-component
                    checkbox
                    inputId="cbx-1"
                    labelTxt="Medium Label"
                    slot="formField"
                    size="md"
                  ></checkbox-radio-input-component>

                  <checkbox-radio-input-component
                    checkbox
                    inputId="cbx-1"
                    labelTxt="Default Label"
                    slot="formField"
                  ></checkbox-radio-input-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Label sizes - Small(sm), Medium(md), and Default
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>

        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <form-component>
                  <checkbox-radio-input-component
                    radio
                    inputId="radio-1"
                    name="radios"
                    labelTxt="Single Radio Option"
                    slot="formField"
                  ></checkbox-radio-input-component>

                  <checkbox-radio-input-component
                    radio
                    inputId="radio-2"
                    name="radios"
                    labelTxt="Radio Option (Disabled)"
                    disabled
                    slot="formField"
                  ></checkbox-radio-input-component>
                </form-component>
                <hr />
                <form-component formLayout="inline">
                  <checkbox-radio-input-component
                    radio
                    inputId="radio-1"
                    name="radios"
                    labelTxt="Single Radio Option"
                    slot="formField"
                  ></checkbox-radio-input-component>

                  <checkbox-radio-input-component
                    radio
                    inputId="radio-2"
                    name="radios"
                    labelTxt="Radio Option (Disabled)"
                    disabled
                    slot="formField"
                  ></checkbox-radio-input-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Single Radio components - Disabled and Vertical and Inline
                  layout
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <!-- <form-component> -->
                <checkbox-radio-input-component
                  checkbox
                  inputId="cbx-1"
                  labelTxt="Checkbox Option 1"
                  validation
                  validationMessage="This is a validation message"
                ></checkbox-radio-input-component>
                <!-- </form-component> -->

                <hr />

                <checkbox-radio-input-component
                  radio
                  inputId="radio-1"
                  name="radios"
                  labelTxt="Single Radio Option"
                  validation
                  validationMessage="This is a validation message"
                ></checkbox-radio-input-component>

                <hr />

                <form-component formLayout="inline">
                  <checkbox-radio-input-component
                    inline
                    radioGroup
                    name="radio-group2"
                    id="dynamic-radio-group3"
                    slot="formField"
                    size="md"
                    validation
                    validationMessage="Select one of the options"
                  ></checkbox-radio-input-component>
                </form-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Validation - Checkbox and Radio components
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- Props -->
    <div style="margin-top: 50px">
      <div class="title">Props</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>checked</td>
              <td>Boolean</td>
              <td></td>
              <td>
                If true, the checkbox or radio button is checked. If false, it
                is unchecked.
              </td>
            </tr>
            <tr>
              <td>checkbox</td>
              <td>Boolean</td>
              <td></td>
              <td>
                If true, the component is a checkbox, if not, nothing is
                displayed or passed in as a prop.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>Boolean</td>
              <td></td>
              <td>
                If true, the checkbox or radio button is disabled. If false, it
                is enabled.
              </td>
            </tr>
            <tr>
              <td>formLayout</td>
              <td>String</td>
              <td></td>
              <td>
                Used in the form component to set the layout of the checkbox or
                radio button. Vertical is the default layout if not used, and
                inline is the other option.
              </td>
            </tr>
            <tr>
              <td>inputId</td>
              <td>String</td>
              <td></td>
              <td>
                The id of the checkbox or radio button. This is used to
                associate the label with the input.
              </td>
            </tr>
            <tr>
              <td>labelTxt</td>
              <td>String</td>
              <td></td>
              <td>
                The text of the label that is displayed next to the checkbox or
                radio button.
              </td>
            </tr>
            <tr>
              <td>name</td>
              <td>String</td>
              <td></td>
              <td>
                The name of the radio group. This is used to group radio buttons
                together so that only one can be selected at a time.
              </td>
            </tr>
            <tr>
              <td>noLabel</td>
              <td>Boolean</td>
              <td></td>
              <td>
                If true, the label is not displayed. If false, the label is
                displayed.
              </td>
            </tr>
            <tr>
              <td>radio</td>
              <td>Boolean</td>
              <td></td>
              <td>
                If true, the component is a radio button, if not, nothing is
                displayed or passed in as a prop.
              </td>
            </tr>
            <tr>
              <td>radioGroup</td>
              <td>Boolean</td>
              <td></td>
              <td>
                If true, the component is a radio group, if not, nothing is
                displayed or passed in as a prop.
              </td>
            </tr>
            <tr>
              <td>radioGroupOptions</td>
              <td>Array</td>
              <td></td>
              <td>
                An array of objects that define the options for the radio group.
                Each object should have the following properties:
                <ul>
                  <li>value: The value of the radio button</li>
                  <li>
                    labelTxt: The text of the label that is displayed next to
                    the radio button
                  </li>
                  <li>
                    inputId: The id of the radio button. This is used to
                    associate the label with the input
                  </li>
                  <li>
                    disabled: If true, the radio button is disabled. If false,
                    it is enabled
                  </li>
                  <li>
                    checked: If true, the radio button is checked. If false, it
                    is unchecked
                  </li>
                </ul>
              </td>
            </tr>
            <tr>
              <td>size</td>
              <td>String</td>
              <td></td>
              <td>
                The size of the checkbox or radio button. Possible values are
                "sm" for small and "md" for medium, when not used the size is
                default.
              </td>
            </tr>
            <tr>
              <td>selectedValue</td>
              <td>String</td>
              <td></td>
              <td>
                The value of the selected radio button in the radio group.
              </td>
            </tr>
            <tr>
              <td>validation</td>
              <td>Boolean</td>
              <td></td>
              <td>
                If true, the component is validated. If false, it is not
                validated.
              </td>
            </tr>
            <tr>
              <td>validationMessage</td>
              <td>String</td>
              <td></td>
              <td>
                The validation message that is displayed when the component is
                invalid.
              </td>
            </tr>
            <tr>
              <td>value</td>
              <td>String</td>
              <td></td>
              <td>
                The value of the checkbox or radio button. This is the value
                that is sent to the server when the form is submitted.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Slots -->
    <div style="margin-top: 50px">
      <div class="title">Slots</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Slot</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>formField</td>
              <td>
                This is the slot for form fields. It is used when using inside a
                form component.<br />
                Add <span class="example">slot="formField"</span> to the input
                field component.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <div class="title">Using Component in other JavaScript Frameworks</div>

      <p>
        Integrating a Lit Element component with other JavaScript frameworks
        like Vue, React, and Angular involves creating a wrapper component in
        each framework to encapsulate and use the Lit Element component. Here
        are examples for each framework:
      </p>

      <h5>Vue.js</h5>
      <p>
        In a Vue component, you'd use the component just like any other HTML
        element:
      </p>
      <pre>
          <code>
            &#60;template&#62;
            &#60;div ref="container"&#62;&#60;/div&#62;
            &#60;/template&#62;

            &#60;script&#62;
            // Import your Lit Element Checkbox and Radio component
            import 'path-to-your-checkbox-radio-input-component'; // Update the path

            export default {
              props: ['inputId', 'labelTxt', 'checkbox', 'radio'],
              mounted() {
                const element = document.createElement('checkbox-radio-input-component');
                element.inputId = this.inputId;
                element.labelTxt = this.labelTxt;
                element.checkbox = this.checkbox;
                element.radio = this.radio;

                this.$refs.container.appendChild(element);
              },
            };
            &#60;/script&#62;

            &#60;style scoped&#62;
            /* Add any scoped styles if needed */
            &#60;/style&#62;
          </code>
        </pre>

      <h5>React</h5>
      <p>
        In a React component, you'd similarly treat the component as a regular
        HTML element:
      </p>
      <pre>
          <code>
            // LitElementWrapper.jsx
            import React, { useRef, useEffect } from 'react';
            
            // Import your Lit Element Checkbox and Radio component
            import 'path-to-your-checkbox-radio-input-component'; // Update the path
            
            const LitElementWrapper = ({ inputId, labelTxt, checkbox, radio }) => {
              const containerRef = useRef();
            
              useEffect(() => {
                const element = document.createElement('checkbox-radio-input-component');
                element.inputId = inputId;
                element.labelTxt = labelTxt;
                element.checkbox = checkbox;
                element.radio = radio;
            
                containerRef.current.appendChild(element);
              }, [inputId, labelTxt, checkbox, radio]);
            
              return &#60;div ref={containerRef}&#62;&#60;/div&#62;;
            };
            
            export default LitElementWrapper;
            
          </code>
        </pre>

      <h5>Angular</h5>
      <p>In Angular, you'd use this component as part of your Angular template:</p>

      <pre>
          <code>
            // LitElementWrapper.component.ts
            import { Component, ElementRef, Input, OnDestroy, OnInit, Renderer2, ViewChild } from '@angular/core';

            // Import your Lit Element Checkbox and Radio component
            import 'path-to-your-checkbox-radio-input-component'; // Update the path

            declare global {
              interface Window {
                LitElement: any; // Adjust the type based on the LitElement class
              }
            }

            @Component({
              selector: 'app-lit-element-wrapper',
              template: '&#60;div #container&#62;&#60;/div&#62;',
            })
            export class LitElementWrapperComponent implements OnInit, OnDestroy {
              @Input() inputId: string;
              @Input() labelTxt: string;
              @Input() checkbox: boolean;
              @Input() radio: boolean;

              @ViewChild('container', { static: true }) containerRef: ElementRef;

              private litElement: any; // Adjust the type based on the LitElement class

              constructor(private renderer: Renderer2) {}

              ngOnInit(): void {
                this.litElement = document.createElement('checkbox-radio-input-component');
                this.litElement.inputId = this.inputId;
                this.litElement.labelTxt = this.labelTxt;
                this.litElement.checkbox = this.checkbox;
                this.litElement.radio = this.radio;

                this.renderer.appendChild(this.containerRef.nativeElement, this.litElement);
              }

              ngOnDestroy(): void {
                // Clean up, remove event listeners, etc.
              }
            }

          </code>
        </pre>

      <p>
        These examples assume that you've configured your framework project to
        work with web components and that you've imported the Lit Element
        component correctly. Adjust import paths accordingly.
      </p>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>
    </div>

    <script src="../form/form.js" type="module"></script>
    <script src="../input-field/input-field.js" type="module"></script>
    <script type="module">
      import "./checkbox-radio-input.js";

      document.addEventListener("DOMContentLoaded", () => {
        // Dynamically set radio group options
        const dynamicRadioGroup = document.getElementById(
          "dynamic-radio-group"
        );
        if (dynamicRadioGroup) {
          dynamicRadioGroup.radioGroupOptions = [
            {
              value: "option1",
              labelTxt: "Default radio",
              inputId: "radio-1",
              disabled: false,
              checked: true,
            },
            {
              value: "option2",
              labelTxt: "Second radio",
              inputId: "radio-2",
              disabled: false,
            },
            {
              value: "option3",
              labelTxt: "Disabled radio",
              inputId: "radio-3",
              disabled: true,
            },
            // Add more options as needed
          ];
        }
      });

      document.addEventListener("DOMContentLoaded", () => {
        // Dynamically set radio group options
        const dynamicRadioGroup2 = document.getElementById(
          "dynamic-radio-group2"
        );
        if (dynamicRadioGroup2) {
          dynamicRadioGroup2.radioGroupOptions = [
            {
              value: "option1",
              labelTxt: "Default radio",
              inputId: "radio-1",
              disabled: false,
              checked: true,
            },
            {
              value: "option2",
              labelTxt: "Second radio",
              inputId: "radio-2",
              disabled: false,
            },
            {
              value: "option3",
              labelTxt: "Disabled radio",
              inputId: "radio-3",
              disabled: true,
            },
            // Add more options as needed
          ];
        }
      });

      document.addEventListener("DOMContentLoaded", () => {
        // Dynamically set radio group options
        const dynamicRadioGroup3 = document.getElementById(
          "dynamic-radio-group3"
        );
        if (dynamicRadioGroup3) {
          dynamicRadioGroup3.radioGroupOptions = [
            {
              value: "option1",
              labelTxt: "Radio Group Option 1",
              inputId: "radio-1",
              disabled: false,
              required: true,
              validation: true,
            },
            {
              value: "option2",
              labelTxt: "Radio Group Option 2",
              inputId: "radio-2",
              disabled: false,
              required: true,
              validation: true,
            },
            // Add more options as needed
          ];
        }
      });
    </script>

    <!-- <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
  </body>
</html>
