<!DOCTYPE html>
<html lang="en">
  <title>Table Component</title>
  <head>
    <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />

    <style>
      button {
        border: 1px solid #ccc;
        border-radius: 3px;
      }

      .reset-sort-icon {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Ctitle%3Esort-variant-remove%3C/title%3E%3Cpath d='M3 13H15V11H3M3 6V8H21V6M3 18H9V16H3V18M22.54 16.88L20.41 19L22.54 21.12L21.12 22.54L19 20.41L16.88 22.54L15.47 21.12L17.59 19L15.47 16.88L16.88 15.47L19 17.59L21.12 15.46L22.54 16.88' /%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 24px 24px;
        width: 28px;
        height: 28px;
        background-color: transparent;
        padding: 0;
        margin: 0;
        transform: scaleY(-1);
      }
    </style>
  </head>
  <body>
    <div class="title">Table</div>
    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <table-component id="table1" sticky noBorderCollapsed plumage>
                  <!-- <span slot="caption">This is a caption</span> -->
                </table-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Text</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <table-component id="table2" caption="top" responsive>
                  <span slot="caption">Example Caption</span>
                </table-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Text</div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>

        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <table-component id="table3" caption="top" responsive>
                  <span slot="caption">Example Caption</span>
                </table-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Text</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <button
                  class="reset-sort-icon"
                  onclick="resetTableSort('table4', 'dditems')"
                ></button>
                <div style="display: flex; width: 100%; flex: 1 1 auto">
                  <div style="flex: 1 1 auto">
                    <select-field-component
                      id="sortField"
                      label="Sort Field"
                      withTable
                      size="sm"
                    ></select-field-component>
                  </div>
                  <div style="flex: 1 1 auto">
                    <select-field-component
                      id="sortOrder"
                      label="Sort Order"
                      withTable
                      value="asc"
                      disabled
                      size="sm"
                    ></select-field-component>
                  </div>
                </div>
                <div style="display: flex; width: 100%; flex: 1 1 auto">
                  <div style="flex: 1 1 auto">
                    <input-group-component
                      id="filterInput"
                      label="Filter"
                      placeholder="Type to Search..."
                      name="input-1"
                      value=""
                      append
                      appendId="append-1"
                      otherContent
                      size="sm"
                    >
                      <pl-button
                        btnText="Clear"
                        variant="primary"
                        slot="append"
                        secondary
                        styles="border-radius: 0 3px 3px 0; padding: 0 8px;"
                        size="sm"
                        onclick="clearFilter('dditems')"
                      ></pl-button>
                    </input-group-component>
                  </div>
                  <div style="flex: 1 1 auto; margin-top: 28px">
                    <dropdown-component
                      buttonText="Filter By"
                      id="dditems"
                      tableId="table4"
                      size="sm"
                      inputId="filterby"
                      listType="checkboxes"
                    ></dropdown-component>
                  </div>
                </div>
                <table-component
                  id="table4"
                  tableId="table4"
                  small
                  sortable
                  responsive
                  selectMode="single"
                  usePagination
                  paginationPosition="both"
                  totalRows="22"
                  paginationLimit="3"
                  paginationLayout="start"
                  showSizeChanger
                  size="sm"
                >
                </table-component>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Text</div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <script type="module" src="./table.js"></script>
    <script
      type="module"
      src="../../components/select-field/select-field.js"
    ></script>
    <script
      type="module"
      src="../../components/input-group/input-group.js"
    ></script>
    <script type="module" src="../../components/button/button.js"></script>
    <script type="module" src="../../components/dropdown/dropdown.js"></script>

    <script>
      const tableA = document.getElementById("table1");
      tableA.items = [
        { name: "John", age: 30, city: "New York" },
        { name: "Anna", age: 25, city: "London", _rowVariant: "primary" },
        {
          name: "Mike",
          age: 32,
          city: "Chicago",
          _cellVariants: { age: "info", name: "warning" },
        },
        { name: "Terry", age: 21, city: "Augusta", _rowVariant: "secondary" },
        {
          name: "Clark",
          age: 56,
          city: "Tucson",
          _cellVariants: { age: "success", city: "danger" },
        },
        { name: "Seth", age: 31, city: "Pittsburgh" },
      ];

      const table = document.getElementById("table2");

      // Define the items (data)
      table.items = [
        {
          age: 40,
          first_name: "Thor",
          last_name: "MacDonald",
          _cellVariants: { age: "info", first_name: "warning" },
          _rowVariant: "primary",
          _showDetails: true,
          _additionalInfo:
            "<p>Hello ${this.first_name}, Age: ${this.age}</p><p>${this.first_name} is a software engineer.</p>",
        },
        {
          age: 25,
          first_name: "Anna",
          last_name: "Smith",
          _cellVariants: { age: "success", last_name: "danger" },
          _rowVariant: "secondary",
          _showDetails: true,
          _additionalInfo:
            "<p>Hello ${this.first_name}, Age: ${this.age}</p><p>${this.first_name} is a graphic designer.</p>",
        },
        {
          age: 32,
          first_name: "Mike",
          last_name: "Johnson",
          _cellVariants: { age: "info", last_name: "success" },
          _rowVariant: "info",
          _showDetails: false,
        },
      ];

      const tableB = document.getElementById("table3");

      // Define the fields to customize columns
      tableB.fields = [
        { key: "first_name", label: "First Name" },
        { key: "last_name", label: "Last Name" },
        { key: "age", label: "Person Age", sortable: true, variant: "danger" },
      ];

      // Define the items (data)
      tableB.items = [
        {
          age: 40,
          first_name: "Thor",
          last_name: "MacDonald",
          _cellVariants: { age: "info", first_name: "warning" },
          _rowVariant: "primary",
        },
        {
          age: 25,
          first_name: "Anna",
          last_name: "Smith",
          _cellVariants: { age: "success", last_name: "danger" },
          _rowVariant: "secondary",
        },
      ];

      function resetTableSort(tableId, dropdownId) {
        const table = document.getElementById(tableId);
        if (table && typeof table.resetSort === "function") {
          table.resetSort();
        }

        // Clear filter input field
        const filterInput = document.getElementById("filterInput");
        if (filterInput) {
          const inputElement = filterInput.shadowRoot.querySelector("input");
          if (inputElement) {
            inputElement.value = "";
            filterInput.handleClear();
          }
        }

        // Clear dropdown selections
        const dropdown = document.getElementById(dropdownId);
        console.log("Dropdown element:", dropdown);
        if (dropdown && typeof dropdown.clearSelections === "function") {
          dropdown.clearSelections();
        }
      }

      const tableFields = [
        { key: "last_name", label: "Last Name", sortable: true },
        { key: "first_name", label: "First Name", sortable: true },
        { key: "age", label: "Person Age", sortable: true },
      ];

      const tableC = document.getElementById("table4");
      const dropdown = document.getElementById("dditems");

      tableC.fields = tableFields;

      tableC.items = [
        {
          age: 40,
          first_name: "Thor",
          last_name: "MacDonald",
          _showDetails: true,
          _additionalInfo:
            "<p>Hello ${this.first_name}, Age: ${this.age}</p><p>${this.first_name} is a software engineer.</p>",
        },
        {
          age: 20,
          first_name: "Pete",
          last_name: "MacDonald",
          _showDetails: true,
          _additionalInfo:
            "<p>Hello ${this.first_name}, Age: ${this.age}</p><p>${this.first_name} is a software engineer.</p>",
        },
        {
          age: 25,
          first_name: "Anna",
          last_name: "Smith",
          _showDetails: true,
          _additionalInfo:
            "<p>Hello ${this.first_name}, Age: ${this.age}</p><p>${this.first_name} is a software engineer.</p>",
        },
        {
          age: 36,
          first_name: "Zachary",
          last_name: "Peterson",
        },
        {
          age: 21,
          first_name: "Ralph",
          last_name: "MacDonald",
        },
        {
          age: 34,
          first_name: "Norma",
          last_name: "MacDonald",
        },
        {
          age: 25,
          first_name: "Emily",
          last_name: "Larson",
        },
        {
          age: 49,
          first_name: "Clark",
          last_name: "Griswald",
        },
        {
          age: 37,
          first_name: "George",
          last_name: "Jefferson",
        },
        {
          age: 30,
          first_name: "Patrick",
          last_name: "Adams",
        },
        {
          age: 19,
          first_name: "Keith",
          last_name: "Ericksen",
        },
        {
          age: 28,
          first_name: "Kelly",
          last_name: "Parker",
        },
        {
          age: 87,
          first_name: "Robert",
          last_name: "Mitchell",
        },
        {
          age: 30,
          first_name: "Derrick",
          last_name: "Clark",
        },
        {
          age: 54,
          first_name: "Rosa",
          last_name: "Gonzalez",
        },
        {
          age: 23,
          first_name: "Cindy",
          last_name: "Johnson",
        },
        {
          age: 18,
          first_name: "Nolan",
          last_name: "Smith",
        },
        {
          age: 48,
          first_name: "Tonya",
          last_name: "Smith",
        },
        {
          age: 34,
          first_name: "Kelly",
          last_name: "Smith",
        },
        {
          age: 71,
          first_name: "Robert",
          last_name: "Smith",
        },
        {
          age: 14,
          first_name: "Jessica",
          last_name: "Smith",
        },
        {
          age: 23,
          first_name: "Pat",
          last_name: "Smith",
        },
      ];

      const sortField = document.getElementById("sortField");
      const sortOrder = document.getElementById("sortOrder");

      // Populate sort field options dynamically
      sortField.options = tableC.fields.map((field) => ({
        value: field.key,
        name: field.label || field.key,
      }));

      // Populate sort order options
      sortOrder.options = [
        { value: "asc", name: "Ascending" },
        { value: "desc", name: "Descending" },
      ];

      // Add event listeners for sortField and sortOrder changes
      sortField.addEventListener("change", (event) => {
        const sortFieldEvent = new CustomEvent("sort-field-changed", {
          detail: { value: event.detail.value },
        });
        tableC.dispatchEvent(sortFieldEvent);
        sortOrder.disabled = event.detail.value === "none";
        if (!sortOrder.disabled) {
          sortOrder.value = "asc";
          const sortOrderEvent = new CustomEvent("sort-order-changed", {
            detail: { value: "asc" },
          });
          tableC.dispatchEvent(sortOrderEvent);
        }
      });

      sortOrder.addEventListener("change", (event) => {
        const sortOrderEvent = new CustomEvent("sort-order-changed", {
          detail: { value: event.detail.value },
        });
        tableC.dispatchEvent(sortOrderEvent);
      });

      tableC.addEventListener("sort-field-updated", (event) => {
        sortField.value = event.detail.value;
        sortOrder.disabled = event.detail.value === "none";
      });

      tableC.addEventListener("sort-order-updated", (event) => {
        sortOrder.value = event.detail.value;
        if (sortField.value !== "none") {
          sortOrder.disabled = false;
        }
      });

      tableC.addEventListener("sort-changed", (event) => {
        const { field, order } = event.detail;
        sortField.value = field;
        sortOrder.value = order;
        sortOrder.disabled = field === "none";
      });

      // For Filtering the Table

      dropdown.items = tableFields.map((field, index) => ({
        key: field.key,
        name: field.label,
        index: index, // Add the index here
      }));

      const filterInput = document.getElementById("filterInput");

      filterInput.addEventListener("change", (event) => {
        const filterEvent = new CustomEvent("filter-changed", {
          detail: { value: event.target.value },
        });
        tableC.dispatchEvent(filterEvent);
      });

      window.clearFilter = function (dropdownId) {
        // Clear filter input field
        const filterInput = document.getElementById("filterInput");
        if (filterInput) {
          const inputElement = filterInput.shadowRoot.querySelector("input");
          if (inputElement) {
            inputElement.value = "";
            filterInput.handleClear();
          }
        }

        // Clear dropdown selections
        const dropdown = document.getElementById(dropdownId);
        console.log("Dropdown element:", dropdown);
        if (dropdown && typeof dropdown.clearSelections === "function") {
          dropdown.clearSelections();
        }
      };
    </script>
  </body>
</html>
