<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Toasts Component</title>

    <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    />

    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />

    <link
      rel="stylesheet"
      href="../../../node_modules/font-awesome/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="../../styles/components.css" />

    <style>
      .custom-toast-content {
        display: flex;
        align-items: center;
        gap: 10px;
      }
      .custom-toast-content img {
        width: 20px;
        height: 20px;
      }
    </style>
  </head>
  <body>
    <div class="title">Toasts</div>
    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <button
                  class="btn btn-secondary btn-sm"
                  onclick="showNotification1c()"
                >
                  Show Toast
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  onclick="showCustomNotification1d()"
                >
                  Show Custom Toast
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  onclick="simulateStackedNotifications()"
                >
                  Simulate RealTime Stacked Notifications
                </button>
                <toast-component
                  id="toast1c"
                  position="bottom-left"
                ></toast-component>
                <div style="margin-top: 15px">
                  <div style="margin-bottom: 5px; font-size: 0.75rem">
                    Toast Styling Example:
                  </div>
                  <toast-component id="toast3" position=""></toast-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Default Toast notification.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div style="margin-top: 15px">
                  <div style="margin-bottom: 5px; font-size: 0.75rem">
                    Toast Variant Colors Example:
                  </div>

                  <div style="display: flex">
                    <div style="flex: 1 1 auto">
                      <toast-component
                        id="toast3a"
                        position=""
                      ></toast-component>

                      <toast-component
                        id="toast3b"
                        position=""
                      ></toast-component>
                    </div>
                    <div style="flex: 1 1 auto">
                      <toast-component
                        id="toast3c"
                        position=""
                      ></toast-component>

                      <toast-component
                        id="toast3d"
                        position=""
                      ></toast-component>
                    </div>
                  </div>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Variant colors are: primary, secondary, danger, warning, info,
                  dark and light.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <button
                  class="btn btn-secondary btn-sm"
                  onclick="showNotification2a()"
                >
                  Show Plumage Toast
                </button>
                <toast-component
                  id="toast2a"
                  position="top-right"
                  plumageToast
                ></toast-component>
                <div style="margin-top: 15px">
                  <div style="margin-bottom: 5px; font-size: 0.75rem">
                    Plumage Toast Styling Example:
                  </div>
                  <toast-component
                    id="toast2"
                    position=""
                    plumageToast
                  ></toast-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Plumage style guide toast notification.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>

        <!-- Next column -->

        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <button
                  class="btn btn-secondary btn-sm"
                  onclick="showNotification1a()"
                >
                  Show Toast
                </button>
                <button
                  class="btn btn-secondary btn-sm"
                  onclick="showCustomNotification1b()"
                >
                  Show Custom Toast
                </button>
                <toast-component
                  id="toast1a"
                  position="bottom-right"
                  solidToast
                ></toast-component>

                <toast-component
                  id="toast1b"
                  position="bottom-right"
                  solidToast
                ></toast-component>

                <div style="margin-top: 15px">
                  <div style="margin-bottom: 5px; font-size: 0.75rem">
                    Single Toast Styling Example:
                  </div>
                  <toast-component
                    id="toast1"
                    position=""
                    solidToast
                  ></toast-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Solid minimal toast notification.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div style="margin-top: 15px">
                  <div style="margin-bottom: 5px; font-size: 0.75rem">
                    Toast Variant Colors Example:
                  </div>

                  <div style="display: flex">
                    <div style="flex: 1 1 auto">
                      <toast-component
                        id="toast1g"
                        solidToast
                        position=""
                      ></toast-component>

                      <toast-component
                        id="toast1d"
                        solidToast
                        position=""
                      ></toast-component>
                    </div>
                    <div style="flex: 1 1 auto">
                      <toast-component
                        id="toast1e"
                        solidToast
                        position=""
                      ></toast-component>

                      <toast-component
                        id="toast1f"
                        solidToast
                        position=""
                      ></toast-component>
                    </div>
                  </div>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Variant colors are: primary, secondary, danger, warning, info,
                  dark and light.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <button
                  class="btn btn-secondary btn-sm"
                  onclick="showNotification2b()"
                >
                  Show Plumage Toast Max
                </button>

                <toast-component
                  id="toast2b"
                  position="bottom-center"
                  plumageToast
                  plumageToastMax
                  appendToast
                ></toast-component>

                <div style="margin-top: 15px">
                  <div style="margin-bottom: 5px; font-size: 0.75rem">
                    Plumage Toast Max Styling Example:
                  </div>
                  <toast-component
                    id="toast4"
                    position=""
                    plumageToast
                    plumageToastMax
                  ></toast-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Plumage style guide toast notification 2.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- Props -->
    <div style="margin-top: 50px">
      <div class="title">Props</div>
      <div style="margin: 25px 0 10px; font-weight: bold">Styling</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>additionalHeaderContent</td>
              <td>String</td>
              <td></td>
              <td>
                Additional content to be added to the header of the toast. An
                example of this would be "43 seconds ago" in the Toast examples
                above.
              </td>
            </tr>
            <tr>
              <td>appendToast</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Appends the toast to the end of the toast stack. This is useful
                for Plumage styled toasts.
              </td>
            </tr>
            <tr>
              <td>bodyClass</td>
              <td>String</td>
              <td></td>
              <td>Adds a class to the body of the toast.</td>
            </tr>
            <tr>
              <td>duration</td>
              <td>Number</td>
              <td>5000</td>
              <td>
                The duration in milliseconds that the toast will be displayed.
              </td>
            </tr>
            <tr>
              <td>headerClass</td>
              <td>String</td>
              <td></td>
              <td>Adds a class to the header of the toast.</td>
            </tr>
            <tr>
              <td>iconPlumageStyle</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Adds Plumage style to the toast icon for Plumage styled toasts.
              </td>
            </tr>
            <tr>
              <td>id</td>
              <td>String</td>
              <td></td>
              <td>
                The id of the toast. This is used to identify the toast when
                calling the showToast method.
              </td>
            </tr>
            <tr>
              <td>isStatus</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                If true, this sets the role of the toast from "alert" to
                "status" which is an ARIA role that is used to communicate the
                status of a process to screen readers. It also sets the
                aria-live attribute from "assertive" to "polite".
              </td>
            </tr>
            <tr>
              <td>message</td>
              <td>String</td>
              <td></td>
              <td>
                The message to be displayed in the toast. This is the main
                content of the toast.
              </td>
            </tr>
            <tr>
              <td>noAnimation</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                If true, this will disable the animation of the toast when it is
                shown or hidden.
              </td>
            </tr>
            <tr>
              <td>noCloseButton</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                If true, this will remove the close button from the toast.
              </td>
            </tr>
            <tr>
              <td>noHoverPause</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                If true, this will prevent the toast from pausing the duration
                when the mouse hovers over it.
              </td>
            </tr>
            <tr>
              <td>persistent</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                If true, this will make the toast persistent and it will not
                automatically hide after the duration has passed.
              </td>
            </tr>
            <tr>
              <td>position</td>
              <td>String</td>
              <td>bottom-right</td>
              <td>
                The position of the toast. This can be set to "top-left",
                "top-center", "top-right", "bottom-left", "bottom-center",
                "bottom-right", "top-full", or "bottom-full".
              </td>
            </tr>
            <tr>
              <td>plumageToast</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                If true, this will style the toast according to the Plumage
                style guide.
              </td>
            </tr>
            <tr>
              <td>plumageToastMax</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                If true, this changes the styling of the Plumage toast so that
                more content can be displayed and adds the close button to the
                toast. To be used with the plumageToast prop.
              </td>
            </tr>
            <tr>
              <td>solidToast</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                If true, this will style the toast as a solid minimal toast.
              </td>
            </tr>
            <tr>
              <td>svgIcon</td>
              <td>String</td>
              <td></td>
              <td>
                This uses predefined SVG icons included in the component,
                "check-circle-fill", "check-circle-outline", "info-fill",
                "info-outlined", "exclamation-triangle-fill",
                "exclamation-triangle-outline", "exclamation-circle-fill" or
                "exclamation-circle-outline".
              </td>
            </tr>
            <tr>
              <td>time</td>
              <td>String</td>
              <td></td>
              <td>
                The current ZULU formatted time to be displayed in the toast.
                This is used for Plumage styled toasts.
              </td>
            </tr>
            <tr>
              <td>title</td>
              <td>String</td>
              <td></td>
              <td>
                The title of the toast. This is displayed in the header of the
                toast.
              </td>
            </tr>
            <tr>
              <td>variant</td>
              <td>String</td>
              <td></td>
              <td>
                The variant color of the toast. This can be set to "primary",
                "secondary", "danger", "warning", "info", "dark" or "light". For
                Plumage styled toasts, this is applied to the icon.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Slots -->
    <div style="margin-top: 50px">
      <div class="title">Slots</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Slot</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>custom-content</td>
              <td>
                This is the slot for adding content to the toast.<br />
                Add <span class="example">slot="custom-content"</span> to a
                'div' or 'span' in the toast component.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <div class="title">Using Component in other JavaScript Frameworks</div>

      <p>
        Integrating a Lit Element component with other JavaScript frameworks
        like Vue, React, and Angular involves creating a wrapper component in
        each framework to encapsulate and use the Lit Element component. Here
        are examples for each framework:
      </p>

      <h5>Vue.js</h5>
      <p>Install the necessary dependencies:</p>
      <pre>
        <code>
          npm install @vue/web-component-wrapper
        </code>
      </pre>
      <p>Register the Lit Element Toast Component:</p>
      <p>Create a file registerToastComponent.js:</p>
      <pre>
          <code>
            import Vue from 'vue';
            import wrap from '@vue/web-component-wrapper';
            import ToastComponent from './path/to/toast-component.js';

            const CustomElement = wrap(Vue, ToastComponent);
            window.customElements.define('toast-component', CustomElement);
          </code>
        </pre>

      <p>Import and use in your Vue component:</p>
      <p>In your main entry file (e.g., main.js):</p>
      <pre>
            <code>
              import Vue from 'vue';
              import App from './App.vue';
              import './registerToastComponent';

              new Vue({
                render: (h) => h(App),
              }).$mount('#app');
            </code>
          </pre>

      <p>Using in a Vue component:</p>
      <pre>
          <code>
            &#60;template&#62;
            &#60;div&#62;
            &#60;button @click="showToast"&#62;Show Toast&#60;/button&#62;
            &#60;toast-component id="toast" position="bottom-right"&#62;&#60;/toast-component&#62;
            &#60;/div&#62;
            &#60;/template&#62;
            
            &#60;script&#62;
            export default {
              methods: {
                showToast() {
                  const toast = document.getElementById('toast');
                  toast.message = "This is a toast message!";
                  toast.variant = "primary";
                  toast.showToast();
                },
              },
            };
            &#60;/script&#62;
          </code>
        </pre>

      <h5>React</h5>
      <p>Install the necessary dependencies:</p>
      <pre>
        <code>
          // bash
          npm install @lit-labs/react
        </code>
      </pre>

      <p>Register the custom element:</p>
      <p>Create a file registerToastComponent.js:</p>
      <pre>
          <code>
            import { createComponent } from '@lit-labs/react';
            import * as React from 'react';
            import { ToastComponent } from './path/to/toast-component.js';

            export const ToastComponentReact = createComponent({
              tagName: 'toast-component',
              elementClass: ToastComponent,
              react: React,
              events: {},
            });
          </code>
        </pre>

      <p>Import and use in your React component:</p>

      <pre>
          <code>
            import React from 'react';
            import { ToastComponentReact } from './registerToastComponent';

            function App() {
              const showToast = () => {
                const toast = document.querySelector('toast-component');
                toast.message = "This is a toast message!";
                toast.variant = "primary";
                toast.showToast();
              };

              return (
                &#60;div&#62;
                &#60;button onClick={showToast}&#62;Show Toast&#60;/button&#62;
                &#60;ToastComponentReact id="toast" position="bottom-right" /&#62;
                &#60;/div&#62;
              );
            }

            export default App;
          </code>
        </pre>

      <h5>Angular</h5>
      <p>Install the necessary dependencies:</p>
      <pre>
        <code>
          ng add @angular/elements
        </code>
      </pre>

      <p>Register the custom element:</p>
      <p>Create a file registerToastComponent.ts:</p>

      <pre>
        <code>
          import { Injector } from '@angular/core';
          import { createCustomElement } from '@angular/elements';
          import { ToastComponent } from './path/to/toast-component.js';

          export function registerCustomElements(injector: Injector) {
            const ToastElement = createCustomElement(ToastComponent, { injector });
            customElements.define('toast-component', ToastElement);
          }
        </code>
      </pre>

      <p>Import and use in your Angular module:</p>
      <p>In your app.module.ts:</p>

      <pre>
          <code>
            import { NgModule, Injector } from '@angular/core';
            import { BrowserModule } from '@angular/platform-browser';
            import { AppComponent } from './app.component';
            import { registerCustomElements } from './registerToastComponent';

            @NgModule({
              declarations: [AppComponent],
              imports: [BrowserModule],
              providers: [],
              bootstrap: [AppComponent],
            })
            export class AppModule {
              constructor(private injector: Injector) {
                registerCustomElements(injector);
              }

              ngDoBootstrap() {}
            }
          </code>
        </pre>

      <p>Using in an Angular component:</p>
      <pre>
        <code>
          // html
          &#60;!-- app.component.html --&#62;
          &#60;div&#62;
          &#60;button (click)="showToast()"&#62;Show Toast&#60;/button&#62;
          &#60;toast-component id="toast" position="bottom-right"&#62;&#60;/toast-component&#62;
          &#60;/div&#62;
        </code>
      </pre>

      <pre>
          <code>
            // app.component.ts
            import { Component } from '@angular/core';

            @Component({
              selector: 'app-root',
              templateUrl: './app.component.html',
            })
            export class AppComponent {
              showToast() {
                const toast = document.getElementById('toast') as any;
                toast.message = "This is a toast message!";
                toast.variant = "primary";
                toast.showToast();
              }
            }
          </code>
        </pre>

      
      <p>
        Adjust the paths and imports based on your project structure. The
        provided examples showcase how to create wrapper components for each
        framework to use your Lit Element 'Table' component.
      </p>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>
    </div>

    <script type="module" src="./toast-component.js"></script>
    <script type="module">
      import { html } from "lit";

      // Automatically show toast examples
      window.addEventListener("DOMContentLoaded", () => {
        const toast1 = document.getElementById("toast1");
        toast1.message = "This is a solid toast example!";
        toast1.duration = 5000;
        toast1.svgIcon = "exclamation-triangle-outline";
        toast1.persistent = true;
        toast1.title = "Solid Toast";
        toast1.showToast();

        const toast1g = document.getElementById("toast1g");
        toast1g.message = "This is a solid toast example!";
        toast1g.variant = "primary";
        toast1g.duration = 5000;
        toast1g.svgIcon = "exclamation-triangle-outline";
        toast1g.persistent = true;
        toast1g.title = "Solid Toast";
        toast1g.showToast();

        const toast1d = document.getElementById("toast1d");
        toast1d.message = "This is a solid toast example!";
        toast1d.variant = "secondary";
        toast1d.duration = 5000;
        toast1d.svgIcon = "exclamation-triangle-outline";
        toast1d.persistent = true;
        toast1d.title = "Solid Toast";
        toast1d.showToast();

        const toast1e = document.getElementById("toast1e");
        toast1e.message = "This is a solid toast example!";
        toast1e.variant = "danger";
        toast1e.duration = 5000;
        toast1e.svgIcon = "exclamation-triangle-outline";
        toast1e.persistent = true;
        toast1e.title = "Solid Toast";
        toast1e.showToast();

        const toast1f = document.getElementById("toast1f");
        toast1f.message = "This is a solid toast example!";
        toast1f.variant = "success";
        toast1f.duration = 5000;
        toast1f.svgIcon = "exclamation-triangle-outline";
        toast1f.persistent = true;
        toast1f.title = "Solid Toast";
        toast1f.showToast();

        const toast2 = document.getElementById("toast2");
        toast2.message = "This is a Plumage styled toast example!";
        toast2.variant = "info";
        toast2.duration = 5000;
        toast2.svgIcon = "exclamation-circle-fill";
        toast2.persistent = true;
        toast2.title = "Plumage Toast";
        toast2.noCloseButton = true;
        toast2.iconPlumageStyle = true;
        toast2.showToast();

        const toast3 = document.getElementById("toast3");
        toast3.title = "Title Text";
        toast3.message = "This is a default toast example!";
        toast3.additionalHeaderContent = "43 seconds ago";
        toast3.duration = 5000;
        toast3.svgIcon = "exclamation-triangle-outline";
        toast3.persistent = true;
        toast3.showToast();

        const toast3a = document.getElementById("toast3a");
        toast3a.title = "Title Text";
        toast3a.message = "This is a default toast example!";
        toast3a.additionalHeaderContent = "43 seconds ago";
        toast3a.variant = "primary";
        toast3a.duration = 5000;
        toast3a.svgIcon = "exclamation-triangle-outline";
        toast3a.persistent = true;
        toast3a.showToast();

        const toast3b = document.getElementById("toast3b");
        toast3b.title = "Title Text";
        toast3b.message = "This is a default toast example!";
        toast3b.additionalHeaderContent = "43 seconds ago";
        toast3b.variant = "danger";
        toast3b.duration = 5000;
        toast3b.svgIcon = "exclamation-triangle-outline";
        toast3b.persistent = true;
        toast3b.showToast();

        const toast3c = document.getElementById("toast3c");
        toast3c.title = "Title Text";
        toast3c.message = "This is a default toast example!";
        toast3c.additionalHeaderContent = "43 seconds ago";
        toast3c.variant = "warning";
        toast3c.duration = 5000;
        toast3c.svgIcon = "exclamation-triangle-outline";
        toast3c.persistent = true;
        toast3c.showToast();

        const toast3d = document.getElementById("toast3d");
        toast3d.title = "Title Text";
        toast3d.message = "This is a default toast example!";
        toast3d.additionalHeaderContent = "43 seconds ago";
        toast3d.variant = "success";
        toast3d.duration = 5000;
        toast3d.svgIcon = "exclamation-triangle-outline";
        toast3d.persistent = true;
        toast3d.showToast();

        const toast4 = document.getElementById("toast4");
        toast4.title = "Plumage Toast Max";
        toast4.customContent = html`
          <div slot="custom-content">
            <div>This is data</div>
            <div>This is data</div>
          </div>
        `;
        toast4.variant = "danger";
        toast4.duration = 7000;
        toast4.svgIcon = "exclamation-circle-fill";
        toast4.persistent = true;
        toast4.iconPlumageStyle = true;
        toast4.showToast();
      });

      window.showNotification1a = function showNotification1a() {
        const toast = document.getElementById("toast1a");
        toast.message = "This is a toast message!";
        toast.variant = "primary";
        toast.duration = 5000;
        toast.svgIcon = "exclamation-triangle-outline";
        toast.persistent = false; // Make the toast non-persistent
        toast.showToast();
        toast.noHoverPause = true;
      };

      window.showCustomNotification1b = function showCustomNotification1b() {
        const toast = document.getElementById("toast1a");
        toast.customContent = html`
          <div class="custom-toast-content">
            <span>This is a custom toast with an icon!</span>
          </div>
        `;
        toast.variant = "light";
        toast.duration = 7000;
        toast.svgIcon = "info-fill";
        toast.persistent = false; // Make the toast non-persistent
        toast.showToast();
      };

      window.showNotification1c = function showNotification1c() {
        const toast = document.getElementById("toast1c");
        toast.title = "Title Text";
        toast.message = "This is a toast message!";
        toast.additionalHeaderContent = "43 seconds ago";
        toast.variant = "primary";
        toast.duration = 5000;
        toast.svgIcon = "exclamation-triangle-outline";
        toast.persistent = false; // Make the toast non-persistent
        toast.showToast();
      };

      window.showCustomNotification1d = function showCustomNotification1d() {
        const toast = document.getElementById("toast1c");
        toast.title = "Title Text";
        toast.additionalHeaderContent = "43 seconds ago";
        toast.customContent = html`
          <div slot="custom-content">
            <div>This is data</div>
            <div>This is data</div>
          </div>
        `;
        toast.variant = "danger";
        toast.duration = 5000;
        toast.svgIcon = "exclamation-triangle-outline";
        toast.persistent = false; // Make the toast non-persistent
        toast.showToast();
      };

      window.showNotification2a = function showNotification2a() {
        const toast = document.getElementById("toast2a");
        toast.title = "Title Text";
        toast.message = "This is a Plumage Styled toast message!";
        toast.duration = 5000;
        toast.svgIcon = "exclamation-circle-fill";
        toast.persistent = false; // Make the toast non-persistent
        toast.noCloseButton = true;
        toast.iconPlumageStyle = true;
        toast.variant = "danger";
        toast.showToast();
      };

      window.showNotification2b = function showNotification2b() {
        const toast = document.getElementById("toast2b");
        toast.title = "Plumage Toast Max";
        toast.customContent = html`
          <div slot="custom-content">
            <div>This is data</div>
            <div>This is data</div>
          </div>
        `;
        toast.variant = "danger";
        toast.duration = 7000;
        toast.svgIcon = "exclamation-circle-fill";
        toast.persistent = false;
        toast.iconPlumageStyle = true;
        toast.showToast();
      };

      // Simulate real-time notifications
      function simulateRealTimeNotifications() {
        const types = ["error", "update", "news"];
        const messages = {
          error: "An error toast example!",
          update: "System update toast example!",
          news: "Breaking news alert/toast example !",
        };
        const variants = {
          error: "danger",
          update: "info",
          news: "primary",
        };
        const icons = {
          error: "exclamation-triangle-fill",
          update: "info-fill",
          news: "check-circle-fill",
        };

        setInterval(() => {
          const type = types[Math.floor(Math.random() * types.length)];
          const toast = document.getElementById("toast1a");
          toast.title = type.charAt(0).toUpperCase() + type.slice(1);
          toast.message = messages[type];
          toast.variant = variants[type];
          toast.duration = 7000;
          toast.svgIcon = icons[type];
          toast.persistent = false;
          toast.showToast();
        }, 10000); // Show a toast every 10 seconds
      }

      simulateRealTimeNotifications();

      window.simulateStackedNotifications =
        function simulateStackedNotifications() {
          const toast = document.getElementById("toast1c");
          const notifications = [
            {
              title: "Title Text 1",
              message: "Stacked Notification 1",
              variant: "info",
              additionalHeaderContent: "43 seconds ago",
            },
            {
              title: "Title Text 2",
              message: "Stacked Notification 2",
              variant: "danger",
            },
            {
              title: "Title Text 3",
              message: "Stacked Notification 3",
              variant: "success",
            },
          ];

          let delay = 0;
          notifications.forEach((notification) => {
            setTimeout(() => {
              toast.title = notification.title;
              toast.message = notification.message;
              toast.variant = notification.variant;
              toast.additionalHeaderContent =
                notification.additionalHeaderContent;
              toast.duration = 10000;
              toast.svgIcon = "exclamation-triangle-outline";
              toast.persistent = false;
              toast.showToast();
            }, delay);
            delay += 2000;
          });
        };
    </script>
  </body>
</html>
