<!DOCTYPE html>
<html>
  <title>Badge Component</title>
  <head>
    <!-- <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <!-- <link rel="stylesheet" href="./button.css" /> -->
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />
  </head>
  <body>
    <div class="title">Badge Component</div>

    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge variant="success" size="sm"> Test Badge </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Basic Badge</div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-3">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge variant="info" size="sm" icon>
                  Information
                  <span class="icon" slot="icon"
                    ><icon-component icon="fas fa-info-circle"></icon-component
                  ></span>
                </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Badge with Icon</div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-5">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge
                  token
                  shape="circle"
                  bordered
                  variant="danger"
                  inset
                  offsetX="12"
                  offsetY="12"
                >
                  <pl-button variant="primary" size="sm"> Primary </pl-button>
                  <span slot="token">10</span>
                </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Button Badge Token</div>
              </section>
            </section>
          </section>
        </section>

        <section>
          <section class="section">
            <section class="display-box" id="db-2">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge outlined size="sm">
                  Test Badge
                  <pl-button text variant="danger" stripped iconBtn>
                    <icon-component icon="fas fa-times-circle"></icon-component>
                  </pl-button>
                </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Badge with (Icon) Button
                </div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-4">
              <section class="display-box-demo" style="text-align: center">
                <pl-button variant="primary" size="sm">
                  Primary
                  <pl-badge variant="light" size="xs" bdgPosition="right"
                    >1</pl-badge
                  >
                </pl-button>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Button with Badge(as a Counter)
                </div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-6">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge dot variant="green" inset offsetX="10" offsetY="10">
                  <pl-button iconBtn shape="circle" title="Rocket">
                    <icon-component icon="fab fa-rocketchat"></icon-component>
                  </pl-button>
                </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Button Badge Dot</div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <div class="title">Predefined badge styles</div>

    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-7">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge variant="primary" size="sm" inlineStyles="margin-bottom: 10px;"> Primary </pl-badge>
                <pl-badge variant="secondary" size="sm" inlineStyles="margin-bottom: 10px;"> Secondary </pl-badge>
                <pl-badge variant="tertiary" size="sm" inlineStyles="margin-bottom: 10px;"> Tertiary </pl-badge>
                <pl-badge variant="success" size="sm" inlineStyles="margin-bottom: 10px;"> Success </pl-badge>
                <pl-badge variant="danger" size="sm" inlineStyles="margin-bottom: 10px;"> Danger </pl-badge>
                <pl-badge variant="warning" size="sm" inlineStyles="margin-bottom: 10px;"> Warning </pl-badge>
                <pl-badge variant="info" size="sm" inlineStyles="margin-bottom: 10px;"> Info </pl-badge>
                <pl-badge variant="light" size="sm" inlineStyles="margin-bottom: 10px;"> Light </pl-badge>
                <pl-badge variant="dark" size="sm" inlineStyles="margin-bottom: 10px;"> Dark </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Solid Badges. Predifined badge variant colors/styles -
                  primary, secondary, tertiary, active-blue, success, danger,
                  warning, light, dark
                </div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-9">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge variant="blue" size="sm" inlineStyles="margin-bottom: 10px;"> Blue </pl-badge>
                <pl-badge variant="blue-grey" size="sm" inlineStyles="margin-bottom: 10px;"> Blue-Grey </pl-badge>
                <pl-badge variant="brown" size="sm" inlineStyles="margin-bottom: 10px;"> Brown </pl-badge>
                <pl-badge variant="deep-orange" size="sm" inlineStyles="margin-bottom: 10px;">
                  Deep-Orange
                </pl-badge>
                <pl-badge variant="deep-purple" size="sm" inlineStyles="margin-bottom: 10px;">
                  Deep-Purple
                </pl-badge>
                <pl-badge variant="green" size="sm" inlineStyles="margin-bottom: 10px;"> Green </pl-badge>
                <pl-badge variant="grey" size="sm" inlineStyles="margin-bottom: 10px;"> Grey </pl-badge>
                <pl-badge variant="indigo" size="sm" inlineStyles="margin-bottom: 10px;"> Indigo </pl-badge>
                <pl-badge variant="light-blue" size="sm" inlineStyles="margin-bottom: 10px;"> Light-Blue </pl-badge>
                <pl-badge variant="pink" size="sm" inlineStyles="margin-bottom: 10px;"> Pink </pl-badge>
                <pl-badge variant="purple" size="sm" inlineStyles="margin-bottom: 10px;"> Purple </pl-badge>
                <pl-badge variant="red" size="sm" inlineStyles="margin-bottom: 10px;"> Red </pl-badge>
                <pl-badge variant="teal" size="sm" inlineStyles="margin-bottom: 10px;"> Teal </pl-badge>
                <pl-badge variant="shades black" size="sm" inlineStyles="margin-bottom: 10px;">
                  Shades Black
                </pl-badge>
                <pl-badge variant="shades white" size="sm" inlineStyles="margin-bottom: 10px;">
                  Shades White
                </pl-badge>
                <pl-badge variant="amber" size="sm" inlineStyles="margin-bottom: 10px;"> Amber </pl-badge>
                <pl-badge variant="cyan" size="sm" inlineStyles="margin-bottom: 10px;"> Cyan </pl-badge>
                <pl-badge variant="lime" size="sm" inlineStyles="margin-bottom: 10px;"> Lime </pl-badge>
                <pl-badge variant="light-green" size="sm" inlineStyles="margin-bottom: 10px;">
                  Light-Green
                </pl-badge>
                <pl-badge variant="orange" size="sm" inlineStyles="margin-bottom: 10px;"> Orange </pl-badge>
                <pl-badge variant="yellow" size="sm" inlineStyles="margin-bottom: 10px;"> Yellow </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Solid Badges. Other predifined badge variatn colors/styles -
                  blue, blue-grey, brown, deep-orange, deep-purple, green, grey,
                  indigo, light-blue, pink, purple, red, teal, shades black,
                  shades white, amber, cyan, lime, light-green, orange, yellow
                </div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-11">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge variant="blue" size="xs" inlineStyles="margin-bottom: 10px;"> x-small </pl-badge>
                <pl-badge variant="blue" size="sm" inlineStyles="margin-bottom: 10px;"> small </pl-badge>
                <pl-badge variant="blue" inlineStyles="margin-bottom: 10px;"> default </pl-badge>
                <pl-badge variant="blue" size="lg" inlineStyles="margin-bottom: 10px;"> large </pl-badge>
                <pl-badge variant="blue" outlined size="x" inlineStyles="margin-bottom: 10px;"> x-small </pl-badge>
                <pl-badge variant="blue" outlined size="sm" inlineStyles="margin-bottom: 10px;"> small </pl-badge>
                <pl-badge variant="blue" outlined inlineStyles="margin-bottom: 10px;"> default </pl-badge>
                <pl-badge variant="blue" outlined size="lg" inlineStyles="margin-bottom: 10px;"> large </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Badge sizes.</div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-13">
              <section class="display-box-demo" style="text-align: center">
                <span style="margin-right: 15px;">
                  <pl-badge
                    token
                    shape="circle"
                    outlined
                    variant="danger"
                    inset
                    offsetX="12"
                    offsetY="12"
                  >
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                    <span slot="token">10</span>
                  </pl-badge>
                </span>
                <span style="margin-right: 15px;">
                  <pl-badge
                    token
                    shape="rounded"
                    outlined
                    variant="danger"
                    inset
                    offsetX="12"
                    offsetY="12"
                  >
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                    <span slot="token">10</span>
                  </pl-badge>
                </span>
                <span style="margin-right: 15px;">
                  <pl-badge
                    token
                    outlined
                    variant="danger"
                    inset
                    offsetX="12"
                    offsetY="12"
                  >
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                    <span slot="token">10</span>
                  </pl-badge>
                </span>
                <span style="margin-right: 15px;">
                  <pl-badge
                    token
                    shape="circle"
                    bordered
                    variant="danger"
                    inset
                    offsetX="12"
                    offsetY="12"
                  >
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                    <span slot="token">10</span>
                  </pl-badge>
                </span>
      
                <span style="margin-right: 15px;">
                  <pl-badge
                    token
                    shape="rounded"
                    bordered
                    variant="yellow"
                    inset
                    offsetX="12"
                    offsetY="12"
                  >
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                    <span slot="token">10</span>
                  </pl-badge>
                </span>
      
                <span style="margin-right: 15px;">
                  <pl-badge
                    token
                    shape="rounded"
                    bordered
                    variant="purple"
                    inset
                    offsetX="12"
                    offsetY="12"
                  >
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                    <span slot="token">10</span>
                  </pl-badge>
                </span>
      
                <span style="margin-right: 15px;">
                  <pl-badge
                    token
                    shape="circle"
                    variant="purple"
                    bordered
                    inset
                    offsetX="12"
                    offsetY="12"
                  >
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                    <span slot="token">
                      <icon-component icon="fas fa-home" tokenIcon></icon-component>
                    </span>
                  </pl-badge>
                </span>
      
                <span style="margin-right: 15px;">
                  <pl-badge
                    token
                    shape="circle"
                    outlined
                    bordered
                    variant="purple"
                    inset
                    offsetX="12"
                    offsetY="12"
                  >
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                    <span slot="token">
                      <icon-component icon="fas fa-home" tokenIcon></icon-component>
                    </span>
                  </pl-badge>
                </span>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description"> Badge tokens (used with here, with the button component).</div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-8">
              <section class="display-box-demo" style="text-align: center">
                <span style="margin-right: 15px;">
                  <pl-badge
                    token
                    shape="circle"
                    bordered
                    elevated-2
                    variant="danger"
                    inset
                  >
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                    <span slot="token">10</span>
                  </pl-badge>
                </span>
      
                <span style="margin-right: 15px;"
                  ><pl-badge elevated-3 variant="success" size="sm">
                    Test Badge
                  </pl-badge></span
                >
      
                <span style="margin-right: 15px;"
                  ><pl-badge
                    elevated-6
                    outlined
                    variant="primary"
                    shape="pill"
                    size="sm"
                  >
                    Test Badge
                    <pl-button text variant="primary" stripped iconBtn>
                      <icon-component
                        icon="fas fa-exclamation-circle"
                      ></icon-component>
                    </pl-button> </pl-badge
                ></span>
      
                <span style="margin-right: 15px;">
                  <pl-badge
                    dot
                    elevated-4
                    variant="orange"
                    inset
                    offsetX="10"
                    offsetY="10"
                  >
                    <pl-button variant="primary" shape="circle" iconBtn title="Home">
                      <icon-component icon="fas fa-home"></icon-component>
                    </pl-button> </pl-badge
                ></span>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Elevated badge examples (Flat by default). Elevated badges go from
                  0-24.</div>
              </section>
            </section>
          </section>
        </section>

        <section>
          <section class="section">
            <section class="display-box" id="db-10">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge variant="primary" size="sm" disabled inlineStyles="margin-bottom: 10px;">
                  Primary
                </pl-badge>
                <pl-badge variant="secondary" size="sm" disabled inlineStyles="margin-bottom: 10px;">
                  Secondary
                </pl-badge>
                <pl-badge variant="tertiary" size="sm" disabled inlineStyles="margin-bottom: 10px;">
                  Tertiary
                </pl-badge>
                <pl-badge variant="success" size="sm" disabled inlineStyles="margin-bottom: 10px;">
                  Success
                </pl-badge>
                <pl-badge variant="danger" size="sm" disabled inlineStyles="margin-bottom: 10px;">
                  Danger
                </pl-badge>
                <pl-badge variant="warning" size="sm" disabled inlineStyles="margin-bottom: 10px;">
                  Warning
                </pl-badge>
                <pl-badge variant="info" size="sm" disabled inlineStyles="margin-bottom: 10px;"> Info </pl-badge>
                <pl-badge variant="light" size="sm" disabled inlineStyles="margin-bottom: 10px;"> Light </pl-badge>
                <pl-badge variant="dark" size="sm" disabled inlineStyles="margin-bottom: 10px;"> Dark </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Disabled Badges.</div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-12">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge variant="blue" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Blue </pl-badge>
                <pl-badge variant="blue-grey" outlined size="sm" inlineStyles="margin-bottom: 10px;">
                  Blue-Grey
                </pl-badge>
                <pl-badge variant="brown" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Brown </pl-badge>
                <pl-badge variant="deep-orange" outlined size="sm" inlineStyles="margin-bottom: 10px;">
                  Deep-Orange
                </pl-badge>
                <pl-badge variant="deep-purple" outlined size="sm" inlineStyles="margin-bottom: 10px;">
                  Deep-Purple
                </pl-badge>
                <pl-badge variant="green" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Green </pl-badge>
                <pl-badge variant="grey" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Grey </pl-badge>
                <pl-badge variant="indigo" outlined size="sm" inlineStyles="margin-bottom: 10px;">
                  Indigo
                </pl-badge>
                <pl-badge variant="light-blue" outlined size="sm" inlineStyles="margin-bottom: 10px;">
                  Light-Blue
                </pl-badge>
                <pl-badge variant="pink" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Pink </pl-badge>
                <pl-badge variant="purple" outlined size="sm" inlineStyles="margin-bottom: 10px;">
                  Purple
                </pl-badge>
                <pl-badge variant="red" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Red </pl-badge>
                <pl-badge variant="teal" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Teal </pl-badge>
                <pl-badge variant="amber" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Amber </pl-badge>
                <pl-badge variant="cyan" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Cyan </pl-badge>
                <pl-badge variant="lime" outlined size="sm" inlineStyles="margin-bottom: 10px;"> Lime </pl-badge>
                <pl-badge variant="light-green" outlined size="sm" inlineStyles="margin-bottom: 10px;">
                  Light-Green
                </pl-badge>
                <pl-badge variant="orange" outlined size="sm" inlineStyles="margin-bottom: 10px;">
                  Orange
                </pl-badge>
                <pl-badge variant="yellow" outlined size="sm" inlineStyles="margin-bottom: 10px;">
                  Yellow
                </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Outlined badge examples.
                </div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-14">
              <section class="display-box-demo" style="text-align: center">
                <pl-badge variant="blue"> default </pl-badge>
                <pl-badge variant="blue" shape="square"> square </pl-badge>
                <pl-badge variant="blue" shape="pill"> pill </pl-badge>
                <pl-badge variant="blue" outlined> default </pl-badge>
                <pl-badge variant="blue" shape="square" outlined>
                  square
                </pl-badge>
                <pl-badge variant="blue" shape="pill" outlined> pill </pl-badge>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Badge shapes.</div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-16">
              <section class="display-box-demo" style="text-align: center">
                <span style="margin-right: 15px;">
                  <pl-badge dot variant="purple">
                    <pl-button variant="primary" size="sm"> Primary </pl-button>
                  </pl-badge></span
                >
      
                <span style="margin-right: 15px;">
                  <pl-badge dot variant="orange" inset offsetX="10" offsetY="10">
                    <pl-button variant="primary" shape="circle" iconBtn title="Home">
                      <icon-component icon="fas fa-home"></icon-component>
                    </pl-button> </pl-badge
                ></span>
      
                <span style="margin-right: 15px;">
                  <pl-badge dot variant="green" inset offsetX="10" offsetY="10">
                    <pl-button shape="circle" iconBtn title="Rocket">
                      <icon-component icon="fab fa-rocketchat"></icon-component>
                    </pl-button> </pl-badge
                ></span>
      
                <span style="margin-right: 15px;">
                  <pl-badge dot pulse variant="pink" inset offsetX="10" offsetY="10">
                    <pl-button shape="circle" iconBtn title="Home">
                      <icon-component icon="fas fa-home"></icon-component>
                    </pl-button> </pl-badge
                ></span>
      
                <span style="margin-right: 15px;">
                  <pl-badge dot variant="orange" inset offsetX="3" offsetY="3">
                    <icon-component icon="fab fa-rocketchat"></icon-component>
                  </pl-badge>
                </span>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Badge dots are used as indicators to draw attention to a specific
                  element. Used here with the button and icon components.</div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>


    <!-- Props -->
    <div style="margin-top: 50px">
      <h2>Props</h2>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>absolute</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Applies the inline style of position: absolute to the component.
              </td>
            </tr>
            <tr>
              <td>bdgPosition</td>
              <td>String</td>
              <td>left</td>
              <td>
                When placing a badge on the left of any content, this adds the
                class 'mr-1' to the badge, which provide 4px's of space between
                the badge and the content. Placing the badge to the right, and
                assigning 'right' to the propery will do the reverse, adding the
                class of 'ml-1'.
                <br /><span class="example"
                  >Ex: bdgPosition="left" or bdgPosition="right"</span
                >
              </td>
            </tr>
            <tr>
              <td>bordered</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                This property will add a border around a solid colored badge
                token, the border color will be inherit from the color of the
                font. This is no the same as the 'outlined' property.
              </td>
            </tr>
            <tr>
              <td>bottom</td>
              <td>String</td>
              <td>number | string</td>
              <td>
                Positions the component towards the bottom using the inline
                style attribute. This should be used with the absolute prop.
                <br /><span class="example">Ex: bottom="50"</span>
              </td>
            </tr>
            <tr>
              <td>color</td>
              <td>String</td>
              <td></td>
              <td>
                This property lets the user add an inline style for the css
                'color' element. The hex color, rgb, rgba, and hsl values can be
                used.
              </td>
            </tr>
            <tr>
              <td>disabled</td>
              <td>Boolean</td>
              <td>false</td>
              <td>This property adds disabled to the button element.</td>
            </tr>
            <tr>
              <td>dot</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                This property applies a dot indicator(used with a color) to draw
                attention to a specific element.
              </td>
            </tr>
            <tr>
              <td>icon</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When using an icon with the badge, this property will add the
                some spacing to the left and right of the icon.
              </td>
            </tr>
            <tr>
              <td>inlineStyles</td>
              <td>String</td>
              <td></td>
              <td>
                When using this property, additional inline styles can be added
                to the badge.<br />
                <span class="example"
                  >Ex:&#60;pl-badge inlineStyles="margin: 5px;"&#62;&#60;/pl-badge&#62;</span
                >
              </td>
            </tr>
            <tr>
              <td>inset</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                This property is to be used with the badge tokens. When used it
                adds the set default style of 'inset: auto auto calc(100% -
                12px) calc(100% - 12px);' that positions the badge token to the
                upper right of the element it is used with.
              </td>
            </tr>
            <tr>
              <td>left</td>
              <td>String</td>
              <td>number | string</td>
              <td>
                Positions the component towards the left using the inline style
                attribute. This should be used with the absolute prop.
                <br /><span class="example">Ex: left="50"</span>
              </td>
            </tr>
            <tr>
              <td>offsetX</td>
              <td>String</td>
              <td>number | string</td>
              <td>
                This property is used with the 'inset' property if the user
                wants to overwrite the default bottom position value of the
                'inset'.<br /><span class="example">Ex: offsetX="50"</span>
              </td>
            </tr>
            <tr>
              <td>offsetY</td>
              <td>String</td>
              <td>number | string</td>
              <td>
                This property is used with the 'inset' property if the user
                wants to overwrite the default left position value of the
                'inset'.<br /><span class="example">Ex: offsetY="50"</span>
              </td>
            </tr>
            <tr>
              <td>outlined</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When added, this makes the background transparent and applies a
                thin border around the badge, unless adding it to the token,
                then the token's outlined background will be white.
              </td>
            </tr>
            <tr>
              <td>right</td>
              <td>String</td>
              <td>number | string</td>
              <td>
                Positions the component towards the right using the inline style
                attribute. This should be used with the absolute prop.
                <br /><span class="example">Ex: right="50"</span>
              </td>
            </tr>
            <tr>
              <td>shape</td>
              <td>String</td>
              <td></td>
              <td>
                This property allows the user to change the shape of the badge
                to square, pill, rounded(default) for badge and badge tokens,
                and circle for badge tokens.
                <br /><span class="example">Ex: shape="square"</span>
              </td>
            </tr>
            <tr>
              <td>size</td>
              <td>String</td>
              <td></td>
              <td>
                This property allows the user to change the size of the badge to
                xs(x-small), sm(small), default and lg(large).
                <br /><span class="example">Ex: size="sm"</span>
              </td>
            </tr>
            <tr>
              <td>styles</td>
              <td>String</td>
              <td></td>
              <td>
                When using this property, additional inline styles can be added
                to the dot or token.<br />
                <span class="example"
                  >Ex:&#60;pl-badge styles="color: pink; padding:
                  10px;"&#62;&#60;/pl-badge&#62;</span
                >
              </td>
            </tr>
            <tr>
              <td>token</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                This property changes a badge into a badge token. A badge token,
                by default is placed to the upper right on which it is used.
                Commonly used with buttons, icons, and tabs. The position can be
                changed using the offsetX and offsetY properties.
              </td>
            </tr>
            <tr>
              <td>top</td>
              <td>String</td>
              <td>number | string</td>
              <td>
                Positions the component towards the top using the inline style
                attribute. This should be used with the absolute prop.
                <br /><span class="example">Ex: top="50"</span>
              </td>
            </tr>
            <tr>
              <td>variant</td>
              <td>String</td>
              <td></td>
              <td>
                This property allows the user to change the color of the badge
                to one of the predefined colors/styles.
                <br /><span class="example">Ex: varian="primary"</span>
              </td>
            </tr>
            <tr>
              <td>zIndex</td>
              <td>String</td>
              <td>number | string</td>
              <td>
                Specifies the stack order of an element. This should be used
                with the absolute or fixed props. <br /><span class="example"
                  >Ex: zIndex="50"</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Styling -->
    <div style="margin-top: 50px">
      <h2>Styling</h2>
      <p>
        These class names can be added directly to the component similiar to
        Props.
      </p>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Style</th>
              <th>Class Name</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><span class="example">Color</span></td>
              <td>
                primary, secondary, tertiary, active-blue, success, danger,
                warning, light, dark, blue, blue-grey, brown, deep-orange,
                deep-purple, green, grey, indigo, light-blue, pink, purple, red,
                teal, shades black, shades white, amber, cyan, lime,
                light-green, orange, yellow
              </td>
              <td>
                These class names can be added to the component by using the
                'variant' property (shown above in Props) and will set
                background color, and border color for a solid badge.
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary"&#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>
                When using these class names with the 'variant' and 'outlined'
                prop, the background color is transparent and it sets the border
                color and text color. <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" outlined&#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
              </td>
            </tr>
            <!-- <tr>
              <td></td>
              <td>active and active-blue</td>
              <td>
                For active state, the class names will set the background color,
                border color and the hover colors.<br />
                When adding the 'active' class and the 'active-blue' class
                togather, the background color will be set to the active color
                and the hover color will be set to the active color.
                <br /><span class="example"
                  >Ex: &#60;pl-badge primary active active-blue &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
              </td>
            </tr> -->
            <tr>
              <td><span class="example">Elevation</span></td>
              <td>flat, is-elevated, elevated-0 to elevated-24</td>
              <td>
                The elevation helpers allow you to control relative depth, or
                distance, between two surfaces. There is a total of 25 elevation
                levels. You can set an element’s elevation by using the class
                elevated-{n}, where n is a integer between 0-24 corresponding to
                the desired elevation. Applying flat will give give the button
                no depth and applying is-elevated will give the button a slight
                amount of depth.. <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" flat &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" is-elevated &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" elevated-3 &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
              </td>
            </tr>
            <tr>
              <td><span class="example">Sizes</span></td>
              <td>xs, sm, default, lg</td>
              <td>
                Sizing for text buttons. 'size="xs"' is 20px, 'size="sm"' is
                28px, 'size="default"' is 36px and 'size="lg"' is 44px.
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" size="xs" &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" size="sm" &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" size="default" &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" size="lg" &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
              </td>
            </tr>
            <tr>
              <td><span class="example">Shape</span></td>
              <td>circle, pill, rounded, square</td>
              <td>
                By default, badge and badge tokens, have rounded corners, in
                which the user does not have to use the 'shape' prop but, they
                can use the 'rounded' value to be sure that the corners if they
                so desire. Badges also use the 'square' and the 'pill' for
                squared and pill shaped badges. Badge tokens can use those three
                and also the 'circle' value to make the token a circle.
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" shape="circle" icon="fas
                  fa-home" &#62;&#60;/pl-badge&#62; *This is used with badge
                  tokens.</span
                >
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" shape="pill" &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" shape="square" &#62;Badge
                  Name&#60;/pl-badge&#62;</span
                >
                <br /><span class="example"
                  >Ex: &#60;pl-badge variant="primary" shape="rounded"
                  &#62;Badge Name&#60;/pl-badge&#62;</span
                >
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <h4>Using Component in other JavaScript Frameworks</h4>

      <h5>Vue.js</h5>
      <p>
        In a Vue component, you'd use PlBadge just like any other HTML element:
      </p>
      <pre>
        <code>
          &#60;template&#62;
          &#60;div&#62;
          &#60;!-- Vue component using the PlBadge component --&#62;
          &#60;pl-badge
                bordered
                variant="red"
                dot
                :icon="true"
                :token="false"
                :disabled="false"
                &#62;
              &#60;!-- Content within the badge --&#62;
              &#60;span slot="icon"&#62;V&#60;/span&#62;
              &#60;/pl-badge&#62;
              &#60;/div&#62;
          &#60;/template&#62;
          
          &#60;script&#62;
          // Import the PlBadge component
          import 'path/to/PlBadge.js'; // Adjust the path to your PlBadge file
          
          export default {
            name: 'VueBadgeComponent',
            // Other Vue component properties and methods
          };
          &#60;/script&#62;
          
        </code>
      </pre>

      <h5>React</h5>
      <p>
        In a React component, you'd similarly treat PlBadge as a regular HTML
        element:
      </p>
      <pre>
        <code>
          import React from 'react';
          // Import the PlBadge component
          import 'path/to/PlBadge.js'; // Adjust the path to your PlBadge file

          const ReactBadgeComponent = () => {
            return (
              &#60;div&#62;
                {/* React component using the PlBadge component */}
                &#60;pl-badge
                  bordered
                  variant="blue"
                  dot
                  icon={true}
                  token={false}
                  disabled={false}
                &#62;
                  {/* Content within the badge */}
                  &#60;span slot="icon"&#62;R&#60;/span&#62;
                  &#60;/pl-badge&#62;
                &#60;/div&#62;
            );
          };

          export default ReactBadgeComponent;

        </code>
      </pre>

      <h5>Angular</h5>
      <p>In Angular, you'd use PlBadge as part of your Angular template:</p>
      <pre>
        <code>
          import { Component } from '@angular/core';

          // Register the PlBadge component in your Angular module
          // Import the PlBadge component in your Angular module file
          import 'path/to/PlBadge.js'; // Adjust the path to your PlBadge file

          @Component({
            selector: 'app-angular-badge',
            template: `
            &#60;div&#62;
            &#60;!-- Angular component using the PlBadge component --&#62;
                &#60;pl-badge
                  bordered
                  [variant]="'green'"
                  [dot]="true"
                  [icon]="true"
                  [token]="false"
                  [disabled]="false"
                &#62;
                &#60;!-- Content within the badge --&#62;
                &#60;span slot="icon"&#62;A&#60;/span&#62;
                &#60;/pl-badge&#62;
              &#60;/div&#62;
            `,
          })
          export class AngularBadgeComponent {
            // Angular component properties and methods
          }
        </code>
      </pre>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>
    </div>

    <script src="../button/button.js" type="module"></script>
    <script src="../icon/icon.js" type="module"></script>
    <script src="./badge.js" type="module"></script>
    <script src="../svg/svg.js" type="module"></script>
    <!-- <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
  </body>
</html>
