<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Popover Component</title>

    <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    />

    <!-- <link rel="stylesheet" href="./popover.css" /> -->

    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />

    <link
      rel="stylesheet"
      href="../../../node_modules/font-awesome/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="../../styles/components.css" />

    <style></style>
  </head>
  <body>
    <div class="title">Popover</div>
    <div class="demo-wrapper">
      <div class="main" style="grid-template-columns: 1fr 0fr">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div
                  style="
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                  "
                >
                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="topleft"
                      trigger="click"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Top Left Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="top"
                      trigger="click"
                      data-original-title="<strong>Popover Test Title</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Top Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="topright"
                      trigger="click"
                      content="<div><button>Button 1</button></div><div><button>Button 2</button></div><div><button>Button 3</button></div>"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Top Right Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>
                </div>

                <div
                  style="
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                  "
                >
                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="bottomleft"
                      trigger="click"
                      data-original-title="<strong>Popover Title</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Bottom Left Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="bottom"
                      trigger="click"
                      data-original-title="<strong>Popover Title</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Bottom Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="bottomright"
                      trigger="click"
                      data-original-title="<strong>Popover Title</strong>"
                      content="<em>Test</em>"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Bottom Right Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>
                </div>

                <div
                  style="
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                  "
                >
                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="righttop"
                      trigger="click"
                      data-original-title="<strong>Popover Title</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                      yOffset="10"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Right Top Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="right"
                      trigger="click"
                      data-original-title="<strong>Popover Title</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Right Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="rightbottom"
                      trigger="click"
                      data-original-title="<strong>Popover Title</strong>"
                      content="<em>Test</em>"
                      yOffset="-5"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Right Bottom Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>
                </div>

                <div
                  style="
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                  "
                >
                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="lefttop"
                      trigger="click"
                      data-original-title="<strong>Popover Title</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                      yOffset="10"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Left Top Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="left"
                      trigger="click"
                      data-original-title="Bottom Centered Popover Title"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Left Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      placement="leftbottom"
                      trigger="click"
                      title="<strong>Left Bottom Popover</strong>"
                      content="<em>Test</em>"
                      yOffset="-5"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Left Bottom Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  <p>Text</p>
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div
                  style="
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                  "
                >
                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      variant="primary"
                      placement="topleft"
                      trigger="click"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Top Left Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      variant="primary"
                      placement="top"
                      trigger="click"
                      data-original-title="<strong>Primary Variant Color</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="primary"
                        btnText="Top Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      variant="info"
                      placement="topright"
                      trigger="click"
                      data-original-title="<strong>Info Variant Color</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="info"
                        btnText="Top Right Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>
                </div>

                <div
                  style="
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                  "
                >
                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      variant="danger"
                      placement="bottomleft"
                      trigger="click"
                      data-original-title="<strong>Danger Variant</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="danger"
                        btnText="Bottom Left Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      variant="warning"
                      placement="bottom"
                      trigger="click"
                      data-original-title="<strong>Warning Variant Color</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                    >
                      <pl-button
                        variant="warning"
                        btnText="Bottom Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>

                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      variant="success"
                      placement="bottomright"
                      trigger="click"
                      data-original-title="<strong>Success Variant Color</strong>"
                      content="<em>Test</em>"
                    >
                      <pl-button
                        variant="success"
                        btnText="Bottom Right Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>
                </div>

                <div
                  style="
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                  "
                >
                  <div style="margin: 10px; text-align: center">
                    <popover-component
                      variant="dark"
                      placement="righttop"
                      trigger="click"
                      data-original-title="<strong>Popover Title</strong>"
                      content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                      yOffset="10"
                    >
                      <pl-button
                        variant="dark"
                        btnText="Right Top Popover"
                        size="sm"
                      ></pl-button>
                    </popover-component>
                  </div>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  <p>Text</p>
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>

      <div class="main">
        <section class="section">
          <section class="display-box">
            <section class="display-box-demo">
              <div
                style="
                  display: flex;
                  justify-content: space-around;
                  flex-wrap: wrap;
                "
              >
                <div style="margin: 10px; text-align: center">
                  <popover-component
                    arrowOff
                    placement="left"
                    trigger="click"
                    content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                  >
                    <pl-button
                      variant="primary"
                      btnText="Left Arrow Off Popover"
                      size="sm"
                    ></pl-button>
                  </popover-component>
                </div>

                <div style="margin: 10px; text-align: center">
                  <popover-component
                    arrowOff
                    placement="top"
                    trigger="click"
                    data-original-title="<strong>Popover Title</strong>"
                    content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                  >
                    <pl-button
                      variant="primary"
                      btnText="Top Arrow Off Popover"
                      size="sm"
                    ></pl-button>
                  </popover-component>
                </div>

                <div style="margin: 10px; text-align: center">
                  <popover-component
                    arrowOff
                    placement="right"
                    trigger="click"
                    data-original-title="<strong>Popover Title</strong>"
                    content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                  >
                    <pl-button
                      variant="primary"
                      btnText="Right Arrow Off Popover"
                      size="sm"
                    ></pl-button>
                  </popover-component>
                </div>
                <div style="margin: 10px; text-align: center">
                  <popover-component
                    arrowOff
                    placement="bottom"
                    trigger="click"
                    data-original-title="<strong>Popover Title</strong>"
                    content="And here's some <em>amazing content</em>. It's very engaging. Right?"
                  >
                    <pl-button
                      variant="primary"
                      btnText="Bottom Arrow Off Popover"
                      size="sm"
                    ></pl-button>
                  </popover-component>
                </div>
              </div>
            </section>
            <section class="display-box-meta markdown">
              <div class="display-box-title">Basic Usage</div>
              <div class="display-box-description">
                <p>Text</p>
              </div>
              <div class=""></div>
            </section>
          </section>

          <section class="display-box" id="db-1">
            <section class="display-box-demo">
              <div
                style="
                  display: flex;
                  justify-content: space-around;
                  flex-wrap: wrap;
                "
              >
                <div style="margin: 10px; text-align: center">
                  <pl-button
                    id="myButton"
                    variant="primary"
                    size="sm"
                    btnText="Use Target for Popover"
                  ></pl-button>

                  <popover-component
                    id="myPopover"
                    title="My Popover"
                    content="This is the popover content."
                    placement="bottomright"
                  ></popover-component>
                </div>
                <div style="margin: 10px; text-align: center">
                  <pl-button
                    id="dynamicPopoverBtn"
                    variant="primary"
                    size="sm"
                    btnText="Dynamic Popover"
                  ></pl-button>

                  <popover-component
                    id="dynamicPopover"
                    placement="top"
                    trigger="click"
                  ></popover-component>
                </div>
              </div>
            </section>
            <section class="display-box-meta markdown">
              <div class="display-box-title">Basic Usage</div>
              <div class="display-box-description">
                <p>Text</p>
              </div>
              <div class=""></div>
            </section>
          </section>
        </section>

        <section class="section">
          <section class="display-box" id="db-1">
            <section class="display-box-demo">
              <div
                style="
                  display: flex;
                  justify-content: space-around;
                  flex-wrap: wrap;
                "
              >
                <div style="margin: 10px; text-align: center">
                  <popover-component
                    placement="top"
                    trigger="click"
                    content="Plumage popover content."
                    plumage
                  >
                    <pl-button
                      variant="secondary"
                      btnText="Plumage Popover"
                      size="sm"
                    ></pl-button>
                  </popover-component>
                </div>
                <div style="margin: 10px; text-align: center">
                  <popover-component
                    placement="top"
                    trigger="click"
                    content="Plumage Super popover content."
                    plumage
                    super
                  >
                    <pl-button
                      variant="secondary"
                      btnText="Plumage Super Popover"
                      size="sm"
                    ></pl-button>
                  </popover-component>
                </div>
                <div style="margin: 10px; text-align: center">
                  <popover-component
                    placement="top"
                    trigger="click"
                    data-original-title="Plumage Super Popover w/ Header"
                    content="Plumage Super popover content."
                    plumage
                    super
                  >
                    <pl-button
                      variant="secondary"
                      btnText="Plumage Super Popover w/ Header"
                      size="sm"
                    ></pl-button>
                  </popover-component>
                </div>
                <div style="margin: 10px; text-align: center">
                  <popover-component
                    arrowOff
                    placement="bottomright"
                    trigger="click"
                    data-original-title="Plumage Super Popover Arrow Off"
                    content="<p>A popover component can be used as the informational dropdowns from the header bar, as in this example.</p><p>More information....</p>"
                    plumage
                    super
                  >
                    <pl-button
                      variant="dark"
                      btnText="Plumage Super Popover Arrow Off"
                      size="sm"
                    ></pl-button>
                  </popover-component>
                </div>
              </div>
            </section>
            <section class="display-box-meta markdown">
              <div class="display-box-title">Basic Usage</div>
              <div class="display-box-description">
                <p>Text</p>
              </div>
              <div class=""></div>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- Props -->

    <div class="title">Props</div>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>arrowOff</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Removes the arrow from the popover. This is useful when the
              popover is used as a dropdown.
            </td>
          </tr>
          <tr>
            <td>content</td>
            <td>String</td>
            <td></td>
            <td>
              The content to display in the popover. This can be HTML content.
            </td>
          </tr>
          <tr>
            <td>customClass</td>
            <td>String</td>
            <td></td>
            <td>
              Add a custom class to the tooltip. Multiple classes can be added
              by separating them with a space.
            </td>
          </tr>

          <tr>
            <td>fallbackPlacement</td>
            <td>String</td>
            <td>flip</td>
            <td>
              Auto-flip placement behaviour of the popover, relative to the
              trigger element. flip(is the default), clockwise,
              counterclockwise, or an array of valid placements evaluated from
              left to right.
            </td>
          </tr>
          <tr>
            <td>offset</td>
            <td>Number</td>
            <td></td>
            <td>
              Offset of the popover relative to the trigger element. This can be
              used to adjust the position of the popover left or right.
            </td>
          </tr>
          <tr>
            <td>placement</td>
            <td>String</td>
            <td>auto</td>
            <td>
              Position of the popover relative to the trigger element. Options
              are auto, top, bottom, left, right, topleft, topright, bottomleft,
              bottomright, lefttop, leftbottom, righttop, rightbottom.
            </td>
          </tr>
          <tr>
            <td>plumage</td>
            <td>Boolean</td>
            <td>false</td>
            <td>Adds Plumage styling to the popover.</td>
          </tr>
          <tr>
            <td>super</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Adds super-tooltip styling to the popover. Used with the Plumage
              prop.
            </td>
          </tr>
          <tr>
            <td>target</td>
            <td>Object</td>
            <td></td>
            <td>
              Reference to the element that the popover should be attached to.
            </td>
          </tr>
          <tr>
            <td>title OR data-original-title</td>
            <td>String</td>
            <td></td>
            <td>Set title value if 'title' attribute isn't present.</td>
          </tr>
          <tr>
            <td>trigger</td>
            <td>String</td>
            <td>click</td>
            <td>
              How tooltip is triggered - click | hover | focus | manual. You may
              pass multiple triggers; separate them with a space.
            </td>
          </tr>
          <tr>
            <td>variant</td>
            <td>String</td>
            <td></td>
            <td>
              Contextual color to use for the tooltip - primary | secondary |
              danger | warning | info | success | dark.
            </td>
          </tr>
          <tr>
            <td>yoffset</td>
            <td>Number</td>
            <td></td>
            <td>
                Offset of the popover relative to the trigger element. This can be
                used to adjust the position of the popover up or down.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <div class="title">Using Component in other JavaScript Frameworks</div>

      <h5>Vue.js</h5>
      <p>
        <strong>Global Registration</strong>:<br />
        Register the custom elements globally in your main Vue.js entry file
        (e.g., main.js or app.js) to ensure they're recognized within the Vue
        templates.
      </p>

      <p>
        <strong>Register the Custom Element in Vue</strong>:<br />
        Use Vue's config to ignore the custom element during compilation.
      </p>

      <p>Use the Custom Element in a Vue Component:</p>
      <pre>
         <code>
           // main.js
           import { createApp } from 'vue';
            import App from './App.vue';
            import './components/PopoverComponent.js'; // Adjust the path accordingly

            createApp(App).mount('#app');

        </code>
       </pre>
      <p>
        Once registered, you can use the popover directly in your Vue templates.
      </p>
      <pre>
           <code>
            &#60;!-- App.vue --&#62;
              &#60;template&#62;
              &#60;div&#62;
                    &#60;popover-component 
                    title="Popover Title"
                    content="This is the popover content."
                    placement="top"
                    trigger="click"&#62;
                    &#60;button&#62;Click me&#60;/button&#62;
                    &#60;/popover-component&#62;
                  &#60;/div&#62;
                &#60;/template&#62;
              
              &#60;script&#62;
              export default {
                name: 'PopoverExample'
              }
              &#60;/script&#62;
            </code>
         </pre>

      <h5>React</h5>
      <p>
        <strong>Install and Import the Web Component:</strong><br />
        Ensure your custom element is included in your project. You can include
        the custom element in your main entry point file.
      </p>
      <p><strong>Register the Custom Element:</strong>
        In your main JavaScript file or component file, you need to register the custom element.</p>
      <pre>
           <code>
            import React from 'react';
            import ReactDOM from 'react-dom';
            import './components/PopoverComponent.js'; // Adjust the path accordingly
            import App from './App';

            ReactDOM.render( &#60;App / &#62;, document.getElementById('root'));
            </code>
         </pre>

         <p><strong>Use the Component in React:</strong>
            In your React component, use the custom element as you would any HTML element.</p>

        <pre>
             <code>
                import React from 'react';

                const PopoverExample = () => (
                    &#60;div&#62;
                    &#60;popover-component 
                      title="Popover Title"
                      content="This is the popover content."
                      placement="top"
                      trigger="click"&#62;
                      &#60;button&#62;Click me&#60;/button&#62;
                      &#60;/popover-component&#62;
                      &#60;/div&#62;
                );
                
                export default PopoverExample;
             </code>
           </pre>

      <h5>Angular</h5>
      <p>
        <strong>Install and Import the Web Component</strong>:<br />
        Ensure your custom element is included in your project. You can include
        the custom element in your main entry point file.
      </p>

      <p><strong>Register the Custom Element:</strong>
        In your main.ts file, you need to import the custom element.</p>
      <pre>
           <code>
             // typescript 
             // main.ts
             import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
             import { AppModule } from './app/app.module';
             import './components/PopoverComponent.js'; // Adjust the path accordingly
             
             platformBrowserDynamic().bootstrapModule(AppModule)
               .catch(err => console.error(err));
             
           </code>
         </pre>

         <p><strong>Use the Component in Angular:</strong>
            In your Angular component, use the custom element as you would any HTML element.</p>

      <pre>
           <code>
            // app.component.html
            &#60;div&#62;
            &#60;popover-component 
                title="Popover Title"
                content="This is the popover content."
                placement="top"
                trigger="click"&#62;
                &#60;button&#62;Click me &#60;/button&#62;
                &#60;/popover-component&#62;
                &#60;/div&#62;

            </code>
         </pre>

     
      <p>
        This will set up the PopoverComponent for use in Vue, React, and
        Angular. The custom element is registered, and the styles are injected
        into the document head, ensuring that they are applied to the tooltips
        created outside of the shadow DOM.
      </p>

      <p>
        <strong>General Note for All Frameworks</strong><br />
        Ensure that the web components are loaded and defined in the global
        scope before your framework-based application initializes. This ensures
        that the custom elements are parsed correctly by the browser's custom
        element registry. Each framework has its specifics for handling
        non-reactive attributes and events, so adjustments might be necessary
        based on more complex interactions or state management needs.
      </p>

      <p>
        By following these guidelines, you can integrate Lit-based web
        components like tooltip into Vue, React,
        and Angular applications effectively, leveraging the encapsulated
        functionality of web components across different frontend ecosystems.
      </p>

      <p>Notes:</p>
      <ul>
        <li>
          Event Handling: Make sure to handle events appropriately. React, for
          example, may require you to attach event listeners directly to the DOM
          elements for custom events, as shown above.
        </li>
        <li>
          Properties and Attributes: If your Web Component uses properties that
          are objects or arrays, passing them from frameworks might require
          setting them via JavaScript rather than as HTML attributes.
        </li>
      </ul>
    </div>

    <script type="module" src="./popover.js"></script>
    <script type="module" src="../button/button.js"></script>
    

    <!-- Using a reference to an element as the target -->
    <script>
      const myButton = document.getElementById("myButton");
      const popover = document.getElementById("myPopover");
      popover.target = myButton;

      const dynamicButton = document.getElementById("dynamicPopoverBtn");
      const popoverDynamic = document.getElementById("dynamicPopover");
      popoverDynamic.title = "Dynamic Popover Title";
      popoverDynamic.content = "Here is some <strong>dynamic</strong> content.";
      popoverDynamic.target = dynamicButton;
    </script>
  </body>
</html>
