<!DOCTYPE html>
<html>
  <title>Autocomplete Input Component</title>
  <head>
    <!-- <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />

    <style>
      .content-box {
        flex: 1 1 auto;
      }
      .flex {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="title">Autocomplete Input Component</div>

    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <autocomplete-input
                  label="Autocomplete Input"
                  inputId="aci1"
                  id="aci1"
                  clearBtn
                ></autocomplete-input>

                <autocomplete-input
                  label="Autocomplete Input"
                  inputId="aciA"
                  id="aciA"
                  formLayout="horizontal"
                  clearBtn
                ></autocomplete-input>

                <autocomplete-input
                  label="Autocomplete Input"
                  inputId="aciB"
                  id="aciB"
                  formLayout="inline"
                  clearBtn
                ></autocomplete-input>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Default Autocomplete Input, default, horizontal, and inline
                  layout.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <autocomplete-input
                  label="Autocomplete Multiple Single Selections"
                  inputId="aci2"
                  id="aci2"
                  multipleSelections
                  clearBtn
                ></autocomplete-input>

                <autocomplete-input
                  label="Autocomplete Input"
                  inputId="aciC"
                  id="aciC"
                  formLayout="horizontal"
                  multipleSelections
                  clearBtn
                ></autocomplete-input>

                <autocomplete-input
                  label="Autocomplete Input"
                  inputId="aciD"
                  id="aciD"
                  formLayout="inline"
                  multipleSelections
                  clearBtn
                ></autocomplete-input>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Autocomplete Multiple Single Select Dropdown Input Field,
                  default, horizontal, and inline layout.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <autocomplete-input
                  label="Small Field"
                  inputId="aciS"
                  id="aciS"
                  size="sm"
                  clearBtn
                ></autocomplete-input>

                <autocomplete-input
                  label="Default Field"
                  inputId="aciDefault"
                  id="aciDefault"
                  clearBtn
                ></autocomplete-input>

                <autocomplete-input
                  label="Large Field"
                  inputId="aciL"
                  id="aciL"
                  size="lg"
                  clearBtn
                ></autocomplete-input>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Small(sm), Default, Large(lg) field sizes
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>

        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <autocomplete-input
                  label="Autocomplete Multi-Select Dropdown"
                  inputId="aci3"
                  id="aci3"
                  multiSelect
                  clearBtn
                ></autocomplete-input>

                <autocomplete-input
                  label="Autocomplete Input"
                  inputId="aciE"
                  id="aciE"
                  formLayout="horizontal"
                  multiSelect
                  clearBtn
                ></autocomplete-input>

                <autocomplete-input
                  label="Autocomplete Input"
                  inputId="aciF"
                  id="aciF"
                  formLayout="inline"
                  multiSelect
                  clearBtn
                ></autocomplete-input>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Autocomplete Multi-Select Dropdown Input Field, default,
                  horizontal, and inline layout.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <autocomplete-input
                  label="Disabled Field"
                  inputId="aci3"
                  id="aci3"
                  disabled
                  clearBtn
                ></autocomplete-input>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Disabled Autocomplete Field
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <autocomplete-input
                  label="Required Field"
                  inputId="aci3"
                  id="aci3"
                  required
                  clearBtn
                ></autocomplete-input>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Required Autocomplete Field
                </div>
                <div class=""></div>
              </section>
            </section>

            <section class="section">
              <section class="display-box" id="db-1">
                <section class="display-box-demo">
                  <autocomplete-input
                    label="Required Field"
                    inputId="aci3"
                    id="aci3"
                    required
                    validation
                    validationMessage="This field is required"
                    clearBtn
                  ></autocomplete-input>
                </section>
                <section class="display-box-meta markdown">
                  <div class="display-box-title">Basic Usage</div>
                  <div class="display-box-description">
                    Required with validation message
                  </div>
                  <div class=""></div>
                </section>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- Props -->
    <div style="margin-top: 50px">
      <div class="title">Props</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>disabled</td>
              <td>Boolean</td>
              <td>false</td>
              <td>Disables the input field and prevents user interaction.</td>
            </tr>
            <tr>
              <td>formLayout</td>
              <td>String</td>
              <td>default</td>
              <td>
                Sets the layout of the form. Possible values are "default",
                "horizontal", and "inline". Default is "default" and doesn't
                need to be set.
              </td>
            </tr>
            <tr>
              <td>inputId</td>
              <td>String</td>
              <td></td>
              <td>
                The ID of the input field. This is required for accessibility
                purposes.
              </td>
            </tr>
            <tr>
              <td>label</td>
              <td>String</td>
              <td></td>
              <td>
                The label for the input field. This is required for
                accessibility purposes.
              </td>
            </tr>
            <tr>
              <td>labelHidden</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Hides the label visually while keeping it accessible to screen
                readers.
              </td>
            </tr>
            <tr>
              <td>multiSelect</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Enables multi-select functionality for the dropdown. This allows
                users to select multiple options from the dropdown.
              </td>
            </tr>
            <tr>
              <td>multipleSelections</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Enables multiple single selections from the dropdown. This
                allows users to select multiple options from the dropdown.
              </td>
            </tr>
            <tr>
              <td>options</td>
              <td>Array</td>
              <td>[]</td>
              <td>
                An array of options to populate the dropdown. Each option should
                be a string.
              </td>
            </tr>
            <tr>
              <td>placeholder</td>
              <td>String</td>
              <td></td>
              <td>
                The placeholder text for the input field. This is required for
                accessibility purposes.
              </td>
            </tr>
            <tr>
              <td>required</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Marks the input field as required. If the field is empty, a
                validation message will appear.
              </td>
            </tr>
            <tr>
              <td>size</td>
              <td>String</td>
              <td>default</td>
              <td>
                Sets the size of the input field. Possible values are "sm",
                "default", and "lg". Default is "default" and doesn't need to be
                set.
              </td>
            </tr>
            <tr>
              <td>type</td>
              <td>String</td>
              <td></td>
              <td>
                The type of input field. This is required for accessibility
                purposes.
              </td>
            </tr>
            <tr>
              <td>validation</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Enables validation for the input field. If the field is empty, a
                validation message will appear.
              </td>
            </tr>
            <tr>
              <td>validationMessage</td>
              <td>String</td>
              <td></td>
              <td>
                The validation message that appears when the input field is
                empty. This is required if validation is enabled.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <div class="title">Using Component in other JavaScript Frameworks</div>

      <p>
        Integrating a Lit Element component with other JavaScript frameworks
        like Vue, React, and Angular involves creating a wrapper component in
        each framework to encapsulate and use the Lit Element component. Here
        are examples for each framework:
      </p>

      <h5>Vue.js</h5>
      <p>
        Global Registration: After defining your component
        (customElements.define('autocomplete-input', AutocompleteInput);), you
        can use it directly in your Vue templates. Vue supports the use of Web
        Components out of the box in its templates.
      </p>
      <p>
        if you're bundling your Vue app (e.g., with Vue CLI, Vite, or Webpack),
        you can import the component script in the main entry file (usually
        main.js or main.ts) to ensure it's registered and available in your Vue
        components.
      </p>
      <pre>
        <code>
          // src/main.js
          import Vue from 'vue';
          import App from './App.vue';
          import './components/AutocompleteInput.js'; // Import your web component

          new Vue({
            render: h => h(App),
          }).$mount('#app');
        </code>
      </pre>

      <p>
        Vue has good support for Web Components. In a Vue component, you'd use
        AutocompleteInput just like any other HTML element:
      </p>
      <pre>
          <code>
            &#60;template&#62;
            &#60;div id="app"&#62;
            &#60;!-- Using the autocomplete-input component --&#62;
            &#60;autocomplete-input 
                  :options="options" 
                  @selection-changed="handleSelectionChanged"
                  &#62;&#60;/autocomplete-input&#62;
                &#60;/div&#62;
                &#60;/template&#62;
            
                &#60;script&#62;
            export default {
              name: 'App',
            
              data() {
                return {
                  // Sample options to pass to the autocomplete component
                  options: ['Option 1', 'Option 2', 'Option 3']
                };
              },
            
              methods: {
                // Handle the selectionChanged event
                handleSelectionChanged(event) {
                  console.log('Selection changed:', event.detail);
                }
              }
            };
            &#60;/script&#62;
            
            &#60;style&#62;
            /* Additional styles if needed */
            &#60;/style&#62;
          </code>
        </pre>

      <h5>React</h5>
      <p>
        React's JSX doesn't natively listen to changes in non-standard
        properties or events on a web component. For properties, you might need
        to use refs to interact with your component imperatively and/or you
        might need to handle events and properties explicitly due to the
        synthetic event system and React's DOM properties handling. In a React
        component, you'd similarly treat AutocompleteInput as a regular HTML
        element:
      </p>
      <pre>
          <code>
            import React from 'react';

            function App() {
              const ref = React.useRef(null);
            
              React.useEffect(() => {
                if (ref.current) {
                  ref.current.addEventListener('customEvent', customEventHandler);
                }
              }, []);
            
              return (
                &#60;autocomplete-input ref={ref}&#62;&#60;/autocomplete-input&#62;
              );
            }

            export default App;
          </code>
        </pre>

      <h5>Angular</h5>
      <p>
        Ensure your web component is defined and registered globally. Typically,
        this would be done outside of your Angular app, in a main script file or
        directly in your index.html via a script tag. However, for Angular, you
        often bundle everything together, so you'll import and define your web
        component in a main file like main.ts or a specific module file.
      </p>
      <pre>
        <code>
          // main.ts or a specific Angular module file
          import './path/to/your/web-component-definition'; // Adjust the path as necessary
        </code>
      </pre>

      <p>
        Angular has built-in support for custom elements through Angular
        Elements. To use your Web Component, you might need to add it to the
        schemas array in your module to avoid Angular's template checks. Angular
        needs to be informed about the custom element to properly handle it,
        particularly to avoid issues with unknown properties and events. This is
        done through the 'CUSTOM_ELEMENTS_SCHEMA' in the module where you want
        to use the web component. In Angular, you'd use AutocompleteInput as
        part of your Angular template:
      </p>

      <pre>
          <code>
            // app.component.ts
            import { NgModule, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';
            import { BrowserModule } from '@angular/platform-browser';
            import { AppComponent } from './app.component';
            import { Component } from '@angular/core';

            @NgModule({
              declarations: [
                AppComponent
              ],
              imports: [
                BrowserModule
              ],
              providers: [],
              bootstrap: [AppComponent],
              schemas: [CUSTOM_ELEMENTS_SCHEMA] // Allow custom elements
            })

            @Component({
              selector: 'app-root',
              templateUrl: './app.component.html',
              styleUrls: ['./app.component.css']
            })

            export class AppComponent {
              options = ['Option 1', 'Option 2', 'Option 3'];
            
              onSelect(event: CustomEvent) {
                console.log(event.detail); // Assuming event.detail contains the selected item
              }
            }
          </code>
        </pre>
      <p>
        Once registered and declared, you can use the web component directly in
        your Angular component templates. Assuming AutocompleteInput has
        properties and events you want to interact with, Angular's property and
        event binding syntax can be used.
      </p>

      <pre>
        <code>
          &#60;!-- app.component.html --&#62;
          &#60;div&#62;
          &#60;h1&#62;Autocomplete Example&#60;/h1&#62;
          &#60;autocomplete-input [options]="options" (selectedItemChange)="onSelect($event)">&#60;/autocomplete-input&#62;
          &#60;/div&#62;
        </code>
      </pre>

      <p>
        Ensure that the Web Component is loaded. If you're bundling your Angular
        application (for example, with Angular CLI), you can import the script
        defining your Web Component in the polyfills.ts file or directly within
        your index.html:
      </p>
      <pre>
        <code>
          // src/polyfills.ts
          import 'path/to/your/autocomplete-input-definition';
        </code>
      </pre>

      <p>Or, in your index.html:</p>

      <pre>
        <code>
          &#60;!-- index.html --&#62;
          &#60;script src="path/to/your/autocomplete-input-definition.js"&#62;&#60;/script&#62;
        </code>
      </pre>

      <p>
        The way you've set up the event handling in the onSelect method is
        correct. Just ensure that the event name and data structure match those
        used by your Web Component. This setup allows you to integrate the
        autocomplete-input Web Component within your Angular application
        seamlessly.
      </p>
      <p>
        These examples assume that you've configured your framework project to
        work with web components and that you've imported the Lit Element
        component correctly. Adjust import paths accordingly.
      </p>

      <p>
        Remember, for Angular and React, to ensure that any custom events your
        component fires are properly handled, you might need to add event
        listeners manually using refs in React or ViewChild in Angular, since
        handling custom events directly in the template (React) or template
        (Angular) might not work as expected without some additional setup.
      </p>

      <h5>Note</h5>
      <p>
        Make sure the custom element (autocomplete-input) definition is loaded
        before you try to use it in your app. This often means importing the
        component script in your main entry file or using a module bundler like
        Webpack to include it as part of your build process.
      </p>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>
    </div>

    <script src="../form/form.js" type="module"></script>
    <script src="./autocomplete-input.js" type="module"></script>
    <script type="module">
      document.addEventListener("DOMContentLoaded", function () {
        // Define mock options for the first autocomplete input
        const aciOptions1 = [
          "Apple",
          "Apparatus",
          "Apple Pie",
          "Applegate",
          "Banana",
          "Orange",
          "Mango",
        ];
        // Get the first autocomplete input element
        const aci1 = document.getElementById("aci1");
        // Set the options property of the first autocomplete input element to the mock data
        aci1.options = aciOptions1;

        // Define mock options for the first autocomplete input
        const aciOptionsA = [
          "Apple",
          "Apparatus",
          "Apple Pie",
          "Applegate",
          "Banana",
          "Orange",
          "Mango",
        ];
        // Get the first autocomplete input element
        const aciA = document.getElementById("aciA");
        // Set the options property of the first autocomplete input element to the mock data
        aciA.options = aciOptionsA;

        // Define mock options for the first autocomplete input
        const aciOptionsB = [
          "Apple",
          "Apparatus",
          "Apple Pie",
          "Applegate",
          "Banana",
          "Orange",
          "Mango",
        ];
        // Get the first autocomplete input element
        const aciB = document.getElementById("aciB");
        // Set the options property of the first autocomplete input element to the mock data
        aciB.options = aciOptionsB;

        // Define mock options for the first autocomplete input
        const aciOptions2 = [
          "Apple",
          "Banana",
          "Orange",
          "Mango",
          "Plum",
          "Peach",
          "Pear",
          "Pineapple",
          "Pomegranate",
          "Strawberry",
        ];
        // Get the first autocomplete input element
        const aci2 = document.getElementById("aci2");
        // Set the options property of the first autocomplete input element to the mock data
        aci2.options = aciOptions2;

        // Define mock options for the first autocomplete input
        const aciOptionsC = [
          "Apple",
          "Apparatus",
          "Apple Pie",
          "Applegate",
          "Banana",
          "Orange",
          "Mango",
        ];
        // Get the first autocomplete input element
        const aciC = document.getElementById("aciC");
        // Set the options property of the first autocomplete input element to the mock data
        aciC.options = aciOptionsC;

        // Define mock options for the first autocomplete input
        const aciOptionsD = [
          "Apple",
          "Apparatus",
          "Apple Pie",
          "Applegate",
          "Banana",
          "Orange",
          "Mango",
        ];
        // Get the first autocomplete input element
        const aciD = document.getElementById("aciD");
        // Set the options property of the first autocomplete input element to the mock data
        aciD.options = aciOptionsD;

        // Define mock options for the first autocomplete input
        const aciOptions3 = [
          "Apple",
          "Banana",
          "Orange",
          "Mango",
          "Plum",
          "Peach",
          "Pear",
          "Pineapple",
          "Pomegranate",
          "Strawberry",
        ];
        // Get the first autocomplete input element
        const aci3 = document.getElementById("aci3");
        // Set the options property of the first autocomplete input element to the mock data
        aci3.options = aciOptions3;

        // Define mock options for the first autocomplete input
        const aciOptionsE = [
          "Apple",
          "Apparatus",
          "Apple Pie",
          "Applegate",
          "Banana",
          "Orange",
          "Mango",
        ];
        // Get the first autocomplete input element
        const aciE = document.getElementById("aciE");
        // Set the options property of the first autocomplete input element to the mock data
        aciE.options = aciOptionsE;

        // Define mock options for the first autocomplete input
        const aciOptionsF = [
          "Apple",
          "Apparatus",
          "Apple Pie",
          "Applegate",
          "Banana",
          "Orange",
          "Mango",
        ];
        // Get the first autocomplete input element
        const aciF = document.getElementById("aciF");
        // Set the options property of the first autocomplete input element to the mock data
        aciF.options = aciOptionsF;

        // Define mock options for the first autocomplete input
        const aciOptionsS = [
          "Apple",
          "Banana",
          "Orange",
          "Mango",
          "Plum",
          "Peach",
          "Pear",
          "Pineapple",
          "Pomegranate",
          "Strawberry",
        ];
        // Get the first autocomplete input element
        const aciS = document.getElementById("aciS");
        // Set the options property of the first autocomplete input element to the mock data
        aciS.options = aciOptionsS;

        // Define mock options for the first autocomplete input
        const aciOptionsDefault = [
          "Apple",
          "Apparatus",
          "Apple Pie",
          "Applegate",
          "Banana",
          "Orange",
          "Mango",
        ];
        // Get the first autocomplete input element
        const aciDefault = document.getElementById("aciDefault");
        // Set the options property of the first autocomplete input element to the mock data
        aciDefault.options = aciOptionsDefault;

        // Define mock options for the first autocomplete input
        const aciOptionsL = [
          "Apple",
          "Apparatus",
          "Apple Pie",
          "Applegate",
          "Banana",
          "Orange",
          "Mango",
        ];
        // Get the first autocomplete input element
        const aciL = document.getElementById("aciL");
        // Set the options property of the first autocomplete input element to the mock data
        aciL.options = aciOptionsL;
      });
    </script>

    <!-- <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
  </body>
</html>
