<!DOCTYPE html>
<html lang="en">
  <title>Progress Component</title>
  <head>
    <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />

    <style>
      .content-box {
        flex: 1 1 auto;
      }
      .flex {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="title">Progress Component - Linear</div>

    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="display-box" id="db-1">
            <section class="display-box-demo">
              <progress-component
                value="50"
                id="progressBarComp"
                showProgress
                progressAlign="right"
                >This is a Test</progress-component
              >
            </section>
            <section class="display-box-meta markdown">
              <div class="display-box-title">Basic Usage</div>
              <div class="display-box-description">
                Basic Linear Progress bar, set the maximum value with the max
                prop (default is 100), and the current value via the value prop
                (default 0).
              </div>
              <div class=""></div>
            </section>
          </section>

          <section class="display-box" id="db-1">
            <section class="display-box-demo">
              <div style="margin-bottom: 10px; font-size: 12px">
                Show Value label<br />
                <progress-component value="50" showValue></progress-component>
              </div>
              <div style="margin-bottom: 10px; font-size: 12px">
                Show Progress label<br />
                <progress-component
                  value="70"
                  showProgress
                ></progress-component>
              </div>

              <div style="margin-bottom: 10px; font-size: 12px">
                Show precision for the number of digits after a decimal<br />
                <progress-component
                  value="34.3456"
                  precision="4"
                  showProgress
                ></progress-component>
              </div>

              <div style="margin-bottom: 10px; font-size: 12px">
                Add text to the component's default slot for custom labels<br />
                <progress-component value="85"
                  >Ongoing progress</progress-component
                >
              </div>

              <div style="margin-bottom: 10px; font-size: 12px">
                Add text with value or progress and align it left or right.<br />
                <progress-component showValue progressAlign="right" value="65"
                  >Ongoing progress:
                </progress-component>
              </div>
            </section>
            <section class="display-box-meta markdown">
              <div class="display-box-title">Basic Usage</div>
              <div class="display-box-description">
                Add labels to your progress bars by either enabling showProgress
                (percentage of max) or showValue for the current absolute value.
                You may also set the precision (number of digits after the
                decimal) via the 'precision' prop (default is 0 digits after the
                decimal). Algin the text to the left or right of the value or
                progress with progressAlign.
              </div>
              <div class=""></div>
            </section>
          </section>

          <section class="display-box" id="db-1">
            <section class="display-box-demo">
              <progress-component multi id="multi">
                <div slot="bar-0">Content for Bar 0</div>
                <div slot="bar-1">Content for Bar 1</div>
                <div slot="bar-2">Content for Bar 2</div>
              </progress-component>
            </section>
            <section class="display-box-meta markdown">
              <div class="display-box-title">Basic Usage</div>
              <div class="display-box-description">
                Include multiple progress bars in a progress component if you
                need to by using the 'multi' prop. Add content to each bar by
                making a array with the props needed and using the slot
                attribute with the slot name 'bar-0', 'bar-1', 'bar-2', etc.
              </div>
              <div class=""></div>
            </section>
          </section>
        </section>

        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div style="margin-bottom: 10px; font-size: 12px; width: 50%">
                  Inline style width<br />
                  <progress-component value="50"></progress-component>
                </div>

                <div style="margin-bottom: 10px; font-size: 12px" class="w-75">
                  Wrapped in a div with Bootstrap width class<br />
                  <progress-component value="40"></progress-component>
                </div>

                <div style="margin-bottom: 10px; font-size: 12px" class="w-75">
                  Give a new height with the 'height' prop <br />
                  <progress-component
                    value="60"
                    height="10"
                  ></progress-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  The progress-component will always expand to the maximum width
                  of its parent container. To change the width, wrap it in a
                  standard Bootstrap column or the standard Bootstrap width
                  classes or create your own. To change the height, use the
                  'height' prop (default is 20).
                </div>
                <div class=""></div>
              </section>
            </section>

            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div style="margin-bottom: 10px; font-size: 12px">
                  <progress-component value="50" striped></progress-component>
                </div>
                <div style="margin-bottom: 10px; font-size: 12px">
                  <progress-component
                    value="30"
                    variant="danger"
                    striped
                  ></progress-component>
                </div>

                <div style="margin-bottom: 10px; font-size: 12px">
                  <progress-component
                    value="80"
                    variant="success"
                    striped
                  ></progress-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Add the 'striped' prop to the component to apply a stripe via
                  CSS gradient over the progress bar’s background color.
                </div>
                <div class=""></div>
              </section>
            </section>

            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div style="margin-bottom: 10px; font-size: 12px">
                  <progress-component
                    value="50"
                    striped
                    animated
                  ></progress-component>
                </div>
                <div style="margin-bottom: 10px; font-size: 12px">
                  <progress-component
                    value="70"
                    variant="warning"
                    striped
                    animated
                  ></progress-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  The 'striped' prop can also be animated. Add 'animated' prop
                  to component to animate the stripes right to left via CSS3
                  animations.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <div class="title">Progress Component - Circular</div>

    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <!-- Circular progress bar -->
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                  "
                >
                  <progress-component value="100" circular width="5" size="90">
                  </progress-component>

                  <progress-component
                    value="80"
                    circular
                    variant="info"
                    size="90"
                    width="5"
                  >
                  </progress-component>

                  <progress-component
                    value="60"
                    circular
                    variant="warning"
                    size="90"
                    width="5"
                  >
                  </progress-component>

                  <progress-component
                    value="40"
                    circular
                    variant="danger"
                    size="90"
                    width="5"
                  >
                  </progress-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  The progress component can be used to convey data circularly
                  to users by adding the 'circular' prop. Alternate colors can
                  be applied to the component using the 'variant' prop, the
                  default color is 'primary'.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <!-- Circular progress bar -->
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                  "
                >
                  <progress-component
                    circular
                    width="5"
                    rotate="20"
                    size="90"
                    id="progressOrigin1"
                    showProgress
                  >
                  </progress-component>

                  <progress-component
                    circular
                    variant="info"
                    size="90"
                    rotate="90"
                    width="5"
                    id="progressOrigin2"
                    showValue
                  >
                  </progress-component>

                  <progress-component
                    circular
                    variant="warning"
                    size="90"
                    rotate="45"
                    width="5"
                    id="progressOrigin3"
                    showProgress
                  >
                  </progress-component>

                  <progress-component
                    circular
                    variant="danger"
                    size="90"
                    width="5"
                    rotate="180"
                    showValue
                    id="progressOrigin4"
                  >
                  </progress-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  The 'rotate' prop gives you the ability to customize the
                  component's starting point.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <!-- Circular progress bar -->
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                  "
                >
                  <progress-component
                    circular
                    indeterminate
                    width="5"
                    size="30"
                  >
                  </progress-component>

                  <progress-component
                    circular
                    indeterminate
                    variant="success"
                    width="5"
                    size="50"
                  >
                  </progress-component>

                  <progress-component
                    circular
                    indeterminate
                    variant="info"
                    width="5"
                    size="80"
                  >
                  </progress-component>

                  <progress-component
                    circular
                    indeterminate
                    variant="dark"
                    width="5"
                    size="100"
                  >
                  </progress-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  It also can be put into an indeterminate state to portray
                  loading using the 'indeterminate' prop.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>

        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                  "
                >
                  <progress-component
                    showProgress
                    id="progressComp"
                    circular
                    size="100"
                    width="5"
                  >
                  </progress-component>

                  <progress-component
                    showValue
                    value="75"
                    circular
                    rotate="360"
                    size="100"
                    width="5"
                  >
                  </progress-component>

                  <progress-component
                    showProgress
                    value="66.666"
                    circular
                    precision="2"
                    rotate="360"
                    size="100"
                    width="5"
                  >
                  </progress-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Add the progress by either enabling showProgress (percentage
                  of max) or showValue for the current absolute value. You may
                  also set the precision (number of digits after the decimal)
                  via the 'precision' prop (default is 0 digits after the
                  decimal). This does not use the alignment props that the
                  linear progress bar uses.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <!-- Circular progress bar -->
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                  "
                >
                  <progress-component value="100" circular width="3" size="30">
                  </progress-component>

                  <progress-component
                    value="80"
                    circular
                    variant="info"
                    size="50"
                    width="5"
                  >
                  </progress-component>

                  <progress-component
                    value="60"
                    circular
                    variant="warning"
                    size="75"
                    width="8"
                  >
                  </progress-component>

                  <progress-component
                    value="40"
                    circular
                    variant="danger"
                    size="100"
                    width="10"
                  >
                  </progress-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  The 'size' and 'width' props allow you to easily alter the
                  size (sets the width and height of the div element) and width
                  (the thickness) of the component.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <!-- Circular progress bar -->
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                  "
                >
                  <progress-component value="35" circular size="100" lineCap>
                  </progress-component>

                  <progress-component
                    value="80"
                    circular
                    variant="info"
                    size="100"
                    lineCap
                  >
                  </progress-component>

                  <progress-component
                    value="60"
                    circular
                    variant="warning"
                    size="100"
                    lineCap
                  >
                  </progress-component>

                  <progress-component
                    value="40"
                    circular
                    variant="danger"
                    size="100"
                    lineCap
                  >
                  </progress-component>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  To change the styling of the ends of the circular progress bar
                  from round to flat, add the 'lineCap' prop.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- Props -->

    <div class="title">Props</div>

    <div class="table-wrapper">
      <table>
        <thead>
          <tr>
            <th>Property</th>
            <th>Type</th>
            <th>Default</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>animated</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Adds an animation to the striped linear progress bar. The
              animation is left to right.
            </td>
          </tr>
          <tr>
            <td>bars</td>
            <td>Array</td>
            <td></td>
            <td>
              Used to add multiple progress bars to the progress component. Each
              item in the array should have the following properties: value,
              variant, striped, animated, showValue, showProgress,
              progressAlign, precision.
            </td>
          </tr>
          <tr>
            <td>circular</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Adds a circular progress bar to the component. The default is a
              linear progress bar.
            </td>
          </tr>
          <tr>
            <td>height</td>
            <td>String</td>
            <td>20</td>
            <td>
              Sets the height of the linear progress bar. The default height is
              20px.
            </td>
          </tr>
          <tr>
            <td>indeterminate</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Puts the circular progress bar into an indeterminate state to
              portray loading.
            </td>
          </tr>
          <tr>
            <td>lineCap</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Changes the styling of the ends of the circular progress bar from
              round to flat.
            </td>
          </tr>
          <tr>
            <td>max</td>
            <td>Number</td>
            <td>100</td>
            <td>
              Sets the maximum value of the progress bar. The default is 100.
            </td>
          </tr>
          <tr>
            <td>multi</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Adds the ability to include multiple progress bars in the progress
              component.
            </td>
          </tr>
          <tr>
            <td>precision</td>
            <td>Number</td>
            <td>0</td>
            <td>
              Sets the number of digits after the decimal for the progress bar
              value. The default is 0.
            </td>
          </tr>
          <tr>
            <td>progressAlign</td>
            <td>String</td>
            <td></td>
            <td>
              Aligns the text to the 'left' or 'right' of the value or progress
              for the linear progress bar. The default is center.
            </td>
          </tr>
          <tr>
            <td>rotate</td>
            <td>Number</td>
            <td>0</td>
            <td>
              Sets the starting point of the circular progress bar. The default
              is 0 degrees.
            </td>
          </tr>
          <tr>
            <td>showProgress</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Adds a label to the progress bar that shows the percentage of the
              max value.
            </td>
          </tr>
          <tr>
            <td>showValue</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Adds a label to the progress bar that shows the current absolute
              value.
            </td>
          </tr>
          <tr>
            <td>size</td>
            <td>Number</td>
            <td>100</td>
            <td>
              Sets the width and height of the circular progress bar. The
              default is 100px.
            </td>
          </tr>
          <tr>
            <td>striped</td>
            <td>Boolean</td>
            <td>false</td>
            <td>
              Adds a stripe via CSS gradient over the linear progress bar’s
              background color.
            </td>
          </tr>
          <tr>
            <td>styles</td>
            <td>String</td>
            <td></td>
            <td>
              Adds custom inline styles to the progress component. The default
              is an empty string.
            </td>
          </tr>
          <tr>
            <td>value</td>
            <td>Number</td>
            <td>0</td>
            <td>
              Sets the current value of the progress bar. The default is 0.
            </td>
          </tr>
          <tr>
            <td>variant</td>
            <td>String</td>
            <td>primary</td>
            <td>
              This prop sets the color of the progress bar. The default in
              'primary'. Other color options are secondary, success, danger,
              info, warning, and dark.
            </td>
          </tr>
          <tr>
            <td>width</td>
            <td>Number</td>
            <td>4</td>
            <td>
              This prop sets the width of the circular progress bar. The default
              is '4'.
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Slots -->
    <div style="margin-top: 50px">
      <div class="title">Slots</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Slot</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>default</td>
              <td>
                Add text to the component's default slot for custom labels. This
                only uses the alignment props that the linear progress bar uses
                when the 'showProgress' and 'showValue' props are used. The
                default slot is overwritten when the 'showProgress' or
                'showValue' props are used unless the 'progressAlign' prop is
                paired with it.
              </td>
            </tr>

            <tr>
              <td>bar-${index}</td>
              <td>
                When using the 'multi' prop, you can add content to each bar by
                the is being created with the index of the array item. For
                example, 'bar-0', 'bar-1', 'bar-2', etc.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <div class="title">Using Component in other JavaScript Frameworks</div>

      <p>
        Integrating a Lit Element component like Progress into frameworks such
        as Vue, React, and Angular involves wrapping the Web Component within
        the specific framework's component system. Here are brief guides on how
        to do this for each framework:
      </p>

      <h5>Vue.js</h5>
      <p>
        To use the Lit Element component in Vue, you can use the
        'vue-custom-element' library to register the Lit Element as a custom
        element:
      </p>
      <p>
        This example assumes you have the Modal component globally registered
        and available in your project.
      </p>
      <pre>
        <code>
          // main.js
          import Vue from 'vue';
          import './path/to/your/progress'; // Ensure the Progress Web Component is imported

          // Prevent Vue from warning about the unknown `progress-component` element
          Vue.config.ignoredElements = ['progress-component'];
          
        </code>
      </pre>
      <p>
        Next, within your Vue component (App.vue in this example), you can use
        the modal element directly in the template. You can bind properties and
        listen to events on it just like you would with a native HTML element or
        Vue component.
      </p>
      <pre>
          <code>
            &#60;template&#62;
              &#60;div&#62;
                &#60;progress-component value="50" max="100"&#62;&#60;/progress-component&#62;
              &#60;/div&#62;
            &#60;/template&#62;
            
            &#60;script&#62;
            export default {
              name: 'App',
              // Additional component logic can be placed here
            }
            &#60;/script&#62;
          </code>
        </pre>

      <h5>React</h5>
      <p>
        For React, you'll use refs to interact with the DOM element for
        properties and events not directly supported by React's synthetic event
        system:
      </p>

      <pre>
          <code>
            // jsx
            import React from 'react';
            import './path/to/progress'; // Imports the Progress Web Component
            
            function App() {
              return (
                &#60;div&#62;
                &#60;progress-component value={30} max={100}&#62; &#60;/progress-component&#62;
                &#60;/div&#62;
              );
            }
            
            export default App;
                       
          </code>
        </pre>

      <h5>Angular</h5>
      <p>
        Angular can also work directly with Web Components. Include Custom Elements Schema: Allow Angular to recognize custom elements.
      </p>
      <pre>
          <code>
            // Add the CUSTOM_ELEMENTS_SCHEMA to your Angular module to avoid template parse errors.
            import { NgModule, CUSTOM_ELEMENTS_SCHEMA } from '@angular/core';
            import { BrowserModule } from '@angular/platform-browser';
            import { AppComponent } from './app.component';
            import './path/to/progress'; // Imports the Progress Web Component

            @NgModule({
              declarations: [
                AppComponent
              ],
              imports: [
                BrowserModule
              ],
              providers: [],
              bootstrap: [AppComponent],
              schemas: [CUSTOM_ELEMENTS_SCHEMA] // Allows custom elements
            })
            export class AppModule { }

          </code>
        </pre>

      <p>Then, use it in your Angular component template:</p>
      <pre>
          <code>
            // html 
            
            &#60;!-- In your component's HTML --&#62;
            &#60;progress-component [attr.value]="50" [attr.max]="100"&#62;&#60;/progress-component&#60;

          </code>
        </pre>

    
      <p>
        Remember to adjust the paths and imports based on your project
        structure. These examples demonstrate how to create wrapper components
        for each framework to use your Lit Element 'Modal' component.
      </p>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>

      <p>Notes:</p>
      <ul>
        <li>
          Event Handling: Make sure to handle events appropriately. React, for
          example, may require you to attach event listeners directly to the DOM
          elements for custom events, as shown above.
        </li>
        <li>
          Properties and Attributes: If your Web Component uses properties that
          are objects or arrays, passing them from frameworks might require
          setting them via JavaScript rather than as HTML attributes.
        </li>
      </ul>
    </div>

    <script src="./progress.js" type="module"></script>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const multiBars = document.getElementById("multi");
        if (multiBars) {
          multiBars.bars = [
            {
              value: 25,
              variant: "warning",
              striped: true,
              animated: true,
              showProgress: true,
              progressAlign: "right",
            },
            {
              value: 40,
              variant: "danger",
              striped: true,
              showValue: true,
              progressAlign: "left",
            },
            { value: 30, variant: "success", precision: 2, showValue: true },
            // Add more items as needed
          ];
        }

        const progressBarComp = document.getElementById("progressBarComp");
        let value1 = 0;

        let interval1 = setInterval(() => {
          if (value1 >= 100) {
            value1 = 0; // Reset the value
          } else {
            value1 += 10; // Increment the value
          }
          progressBarComp.setAttribute("value", value1); // Update the progress component
        }, 1000);

        // Clean up the interval when the window is unloaded or when you want to stop the interval
        window.addEventListener("beforeunload", () => {
          clearInterval(interval1);
        });

        const progressComp = document.getElementById("progressComp");
        let value2 = 0;

        let interval = setInterval(() => {
          if (value2 >= 100) {
            value2 = 0; // Reset the value
          } else {
            value2 += 10; // Increment the value
          }
          progressComp.setAttribute("value", value2); // Update the progress component
        }, 1000);

        // Clean up the interval when the window is unloaded or when you want to stop the interval
        window.addEventListener("beforeunload", () => {
          clearInterval(interval);
        });

        const progressOrigin1 = document.getElementById("progressOrigin1");
        let valueA = 0;
        let intervalA = setInterval(() => {
          if (valueA >= 100) {
            valueA = 0; // Reset the value
          } else {
            valueA += 10; // Increment the value
          }
          progressOrigin1.setAttribute("value", valueA); // Update the progress component
        }, 1000);

        // Clean up the interval when the window is unloaded or when you want to stop the interval
        window.addEventListener("beforeunload", () => {
          clearInterval(intervalA);
        });

        const progressOrigin2 = document.getElementById("progressOrigin2");
        let valueB = 0;
        let intervalB = setInterval(() => {
          if (valueB >= 100) {
            valueB = 0; // Reset the value
          } else {
            valueB += 10; // Increment the value
          }
          progressOrigin2.setAttribute("value", valueB); // Update the progress component
        }, 1000);

        // Clean up the interval when the window is unloaded or when you want to stop the interval
        window.addEventListener("beforeunload", () => {
          clearInterval(intervalB);
        });

        const progressOrigin3 = document.getElementById("progressOrigin3");
        let valueC = 0;
        let intervalC = setInterval(() => {
          if (valueC >= 100) {
            valueC = 0; // Reset the value
          } else {
            valueC += 10; // Increment the value
          }
          progressOrigin3.setAttribute("value", valueC); // Update the progress component
        }, 1000);

        // Clean up the interval when the window is unloaded or when you want to stop the interval
        window.addEventListener("beforeunload", () => {
          clearInterval(intervalC);
        });

        const progressOrigin4 = document.getElementById("progressOrigin4");
        let valueD = 0;
        let intervalD = setInterval(() => {
          if (valueD >= 100) {
            valueD = 0; // Reset the value
          } else {
            valueD += 10; // Increment the value
          }
          progressOrigin4.setAttribute("value", valueD); // Update the progress component
        }, 1000);

        // Clean up the interval when the window is unloaded or when you want to stop the interval
        window.addEventListener("beforeunload", () => {
          clearInterval(intervalD);
        });
      });
    </script>

    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
