<!DOCTYPE html>
<html>
  <title>Input Field</title>
  <head>
    <!-- <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />

    <style>
      .content-box {
        flex: 1 1 auto;
      }
      .flex {
        display: flex;
      }
    </style>
  </head>
  <body>
    <div class="title">Plumage Input Field Examples</div>
    <div class="ex-container">
      <div class="content-box" style="width: 40%;">
        <form-component>
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value=""
            labelHidden
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value=""
            labelHidden
          ></pl-input-field-component>
        </form-component>
        <div class="context">Label used as Placeholder text</div>
      </div>
      <div class="content-box" style="width: 40%;">
        <form-component>
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value=""
            formLayout="vertical"
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value=""
            formLayout="vertical"
          ></pl-input-field-component>
        </form-component>
        <div class="context">Vertical Input Field</div>
      </div>
      <div class="content-box" style="width: 40%;">
        <form-component formLayout="horizontal">
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value=""
            formLayout="horizontal"
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value=""
            formLayout="horizontal"
          ></pl-input-field-component>
        </form-component>
        <div class="context">Horizontal Input Field</div>
      </div>
      <div class="content-box" style="width: 40%;">
        <form-component formLayout="inline">
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value=""
            formLayout="inline"
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value=""
            formLayout="inline"
          ></pl-input-field-component>
        </form-component>
        <div class="context">In-line Input Field</div>
      </div>

      <div class="content-box" style="width: 40%;">
        <form-component>
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value=""
            disabled
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value=""
            disabled
          ></pl-input-field-component>
        </form-component>
        <div class="context">Disabled Input Field</div>
      </div>
      <div class="content-box" style="width: 40%;">
        <form-component>
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value=""
            required
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value=""
            required
          ></pl-input-field-component>
        </form-component>
        <div class="context">Required Input Field</div>
      </div>
      <div class="content-box" style="width: 40%;">
        <form-component>
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value=""
            validation
            validationMessage="Please enter your first name."
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value=""
            validation
            validationMessage="Please enter your last name."
          ></pl-input-field-component>
        </form-component>
        <hr />
        <form-component formLayout="horizontal">
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value=""
            validation
            validationMessage="Please enter your first name."
            formLayout="horizontal"
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value=""
            validation
            validationMessage="Please enter your last name."
            formLayout="horizontal"
          ></pl-input-field-component>
        </form-component>
        <hr />
        <form-component formLayout="inline">
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value=""
            formLayout="inline"
            validation
            validationMessage="Please enter your first name."
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value=""
            formLayout="inline"
            validation
            validationMessage="Please enter your last name."
          ></pl-input-field-component>
        </form-component>
        <div class="context">Required Input Field</div>
      </div>
      <div class="content-box" style="width: 40%;">
        <form-component>
          <pl-input-field-component
            label="First Name"
            name="input-1"
            value="Small input field"
            size="sm"
          ></pl-input-field-component>
          <pl-input-field-component
            label="Last Name"
            name="input-2"
            value="Default input field"
          ></pl-input-field-component>
          <pl-input-field-component
            label="Email Address"
            name="input-3"
            value="Large input field"
            size="lg"
          ></pl-input-field-component>
        </form-component>
        <div class="context">Input Field Sizes</div>
      </div>
    </div>

    <!-- Props -->
    <!-- <div style="margin-top: 50px">
      <h2>Props</h2>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>accordion</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When this is true, the collapse component will look and behave
                like an accordion.
              </td>
            </tr>
            <tr>
              <td>contentTxtSize</td>
              <td>String</td>
              <td></td>
              <td>
                This property allows you to change the overall size of the text
                (xs, sm, default, lg, xl, or xxl) that is in the content area of
                the collapse component.
              </td>
            </tr>
            <tr>
              <td>icon</td>
              <td>Array</td>
              <td>["fas fa-angle-down"]</td>
              <td>
                This property uses the Font Awesome fa-angle-down(caret down)
                icon by default. It rotates the icon 180 degrees when the
                collapse component opens and again when it closes. You can pass in an array of two
                icons to change the icon when the collapse component is open and
                closed. The first icon in the array is the icon when the
                collapse component is closed, and the second icon is the icon
                when the collapse component is open.<br />
                <span class="example">Ex: icon="fas fa-minus-circle, fas fa-plus-circle"</span>
              </td>
            </tr>
            <tr>
              <td>isOpen</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When true, the collapse component will be open by default.
              </td>
            </tr>
            <tr>
              <td>targetId</td>
              <td>String</td>
              <td></td>
              <td>
                Providing a targetId will allow the collapse component to
                toggle. The targetId is used by 'aria-controls',
                'aria-labelledby', 'data-target' attributes of the button and
                'id' of the content area.
              </td>
            </tr>
            <tr>
              <td>toggle</td>
              <td>String</td>
              <td></td>
              <td>
                To use when implementing and Accordion, when property is set to
                'single', only one collapse component can be opened at a time.
              </td>
            </tr>
            <tr>
              <td>Other</td>
              <td></td>
              <td></td>
              <td>
                The collapse component also accepts other properties from
                the Button component. Those properties are: block, variant,
                size, disabled, ripple, and link, and they can be found here -
                <a href="../button/index.html">Button API</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->

    <!-- Instructions -->
    <!-- <div style="margin-top: 50px">
      <h4>Using Component in other JavaScript Frameworks</h4>

      <p>
        Integrating a Lit Element component with other JavaScript frameworks
        like Vue, React, and Angular involves creating a wrapper component in
        each framework to encapsulate and use the Lit Element component. Here
        are examples for each framework:
      </p>

      <h5>Vue.js</h5>
      <p>
        In a Vue component, you'd use Collapse just like any other HTML
        element:
      </p>
      <pre>
          <code>
            &#60;template&#62;
              &#60;div&#62;
                &#60;collapse-component targetId="collapse-1" toggle="single" :accordion="true" contentTxtSize="sm"&#62;
                  &#60;span slot="expansion-header"&#62;Default Toggle&#60;/span&#62;
                  &#60;div slot="content"&#62;This content can be collapsed&#60;/div&#62;
                &#60;/collapse-component&#62;
              &#60;/div&#62;
            &#60;/template&#62;
            
            &#60;script&#62;
            import 'path_to_your_libraries/collapse.js'; // Import your Collapse component
            
            export default {
              // Your Vue component definition
            };
            &#60;/script&#62;
          </code>
        </pre>

      <h5>React</h5>
      <p>
        In a React component, you'd similarly treat Collapse as a regular
        HTML element:
      </p>
      <pre>
          <code>
            import React from 'react';
            import 'path_to_your_libraries/collapse.js'; // Import your Collapse component

            function App() {
              return (
                &#60;div&#62;
                  &#60;collapse-component targetId="collapse-1" toggle="single" accordion={true} contentTxtSize="sm"&#62;
                    &#60;span slot="expansion-header"&#62;Default Toggle&#60;/span&#62;
                    &#60;div slot="content"&#62;This content can be collapsed&#60;/div&#62;
                  &#60;/collapse-component&#62;
                &#60;/div&#62;
              );
            }

            export default App;

          </code>
        </pre>

      <h5>Angular</h5>
      <p>In Angular, you'd use Collapse as part of your Angular template:</p>

      <pre>
          <code>
            // Import the required decorators and other necessary modules

            @Component({
              selector: 'app-root',
              template: `
                &#60;div&#62;
                  &#60;collapse-component targetId="collapse-1" [toggle]="'single'" [accordion]="true" [contentTxtSize]="'sm'"&#62;
                    &#60;span slot="expansion-header"&#62;Default Toggle&#60;/span&#62;
                    &#60;div slot="content"&#62;This content can be collapsed&#60;/div&#62;
                  &#60;/collapse-component&#62;
                &#60;/div&#62;
              `
            })
            export class AppComponent {
              // Your Angular component logic
            }

          </code>
        </pre>

      <p>
        These examples assume that you've configured your framework project to
        work with web components and that you've imported the Lit Element
        component correctly. Adjust import paths accordingly.
      </p>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>
    </div> -->

    <script src="./pl-input-field.js" type="module"></script>
    <script src="../form/form.js" type="module"></script>

    <!-- <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
  </body>
</html>
