<!DOCTYPE html>
<title>Tags Autocomplete Clear All</title>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    />
    <link rel="stylesheet" href="./tags-autocomplete-clear-all.css" />
  </head>
  <body>
    <tags-autocomplete-clear-all></tags-autocomplete-clear-all>

    <script src="./tags-autocomplete-clear-all.js" type="module"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
