<!DOCTYPE html>
<html>
  <title>Divider Component</title>
  <head>
    <!-- <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    /> -->
    <!-- <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    /> -->
    <!-- <link rel="stylesheet" href="./button.css" /> -->
    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />
    <link rel="stylesheet" href="../../styles/components.css" />
  </head>
  <body>
    <div class="title">Divider Component</div>

    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
                <pl-divider></pl-divider>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Basic Divider</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-2">
              <section class="display-box-demo">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
                <pl-divider dashed></pl-divider>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Divider - Dashed</div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-3">
              <section class="display-box-demo">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
                <pl-divider orientation="center">Text Center</pl-divider>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Divider with Center Text/Title
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-4">
              <section class="display-box-demo">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
                <pl-divider orientation="left">Text Left</pl-divider>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Divider with Left Text/Title
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-5">
              <section class="display-box-demo">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
                <pl-divider orientation="left" orientationMargin="left"
                  >Text Left</pl-divider
                >
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Divider with Left Text/Title with 0 orientationMargin
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
        <section>
          <section class="section">
            <section class="display-box" id="db-6">
              <section class="display-box-demo">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
                <pl-divider orientation="right">Text Right</pl-divider>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Divider with Right Text/Title
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-7">
              <section class="display-box-demo">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
                <pl-divider orientation="right" orientationMargin="right"
                  >Text Right</pl-divider
                >
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Divider with Right Text/Title with 0 orientationMargin
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-8">
              <section class="display-box-demo">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
                <pl-divider orientation="center" plain
                  >Text Center and Plain</pl-divider
                >
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                  nonne merninisti licere mihi ista probare, quae sunt a te
                  dicta? Refert tamen, quo modo.
                </p>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Divider with Plain Text
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-9">
              <section class="display-box-demo">
                <div class="txt-14">
                  Test <pl-divider type="vertical"></pl-divider> Test
                  <pl-divider type="vertical"></pl-divider> Test
                  <pl-divider type="vertical"></pl-divider>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">Vertical Dividers</div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- Props -->
    <div style="margin-top: 50px">
      <div>
        This component is a wrapper for grouping buttons from the button
        component.
      </div>
      <h2>Props</h2>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>dashed</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                When true, the divider will be dashed.<br />
                <span class="example"
                  >Ex:&#60;pl-divider dashed&#62;&#60;/pl-divider&#62;</span
                >
              </td>
            </tr>
            <tr>
              <td>orientation</td>
              <td>String</td>
              <td>left, right or center</td>
              <td>
                The margin-left/right between the title and its closest border
                is set to '0', when used with orientation, which must be left or
                right.<br />
                <span class="example">Ex: orientationMargin="left"</span>
              </td>
            </tr>
            <tr>
              <td>orientationMargin</td>
              <td>String</td>
              <td>left or right</td>
              <td>
                The orientationMargin sets the margin of the left or right
                aligned text to '0'<br />
                <span class="example">Ex: orientation="left"</span>
              </td>
            </tr>
            <tr>
              <td>plain</td>
              <td>Boolean</td>
              <td>false</td>
              <td>Divider text show as plain style (not bold)</td>
            </tr>
            <tr>
              <td>styles</td>
              <td>String</td>
              <td>left or right</td>
              <td>
                Allows the user to place inline CSS styles to the 'span' of the
                divider's text.<br />
              </td>
            </tr>
            <tr>
              <td>type</td>
              <td>String</td>
              <td>vertical</td>
              <td>
                The direction type of divider. By default the type is
                horizontal, but when set to vertical, the divider(s) will be
                vertical.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <h4>Using Component in other JavaScript Frameworks</h4>

      <p>
        Integrating a Lit Element component with other JavaScript frameworks
        like Vue, React, and Angular involves creating a wrapper component in
        each framework to encapsulate and use the Lit Element component. Here
        are examples for each framework:
      </p>

      <h5>Vue.js</h5>
      <p>
        In a Vue component, you'd use Divider just like any other HTML element:
      </p>
      <pre>
        <code>
          &#60;template&#62;
            &#60;div&#62;
             &#60;pl-divider dashed&#62;&#60;/pl-divider&#62;
            &#60;/div&#62;
          &#60;/template&#62;
          
          &#60;script&#62;
            import 'path_to_your_libraries/divider.js'; // Import your Divider component
            
            export default {
                // Your Vue component definition
            };
          &#60;/script&#62;
        </code>
      </pre>

      <h5>React</h5>
      <p>
        In a React component, you'd similarly treat Divider as a regular HTML
        element:
      </p>
      <pre>
        <code>
            import React from 'react';
            import 'path_to_your_libraries/divider.js'; // Import your Divider component
            
            function App() {
              return (
                &#60;div&#62;
                    &#60;pl-divider dashed&#62;&#60;/pl-divider&#62;
                &#60;/div&#62;
              );
            }
            
            export default App;            
        </code>
      </pre>

      <h5>Angular</h5>
      <p>In Angular, you'd use Divider as part of your Angular template:</p>

      <pre>
        <code>
            // Import the required decorators and other necessary modules

            @Component({
              selector: 'app-root',
              template: `
                &#60;div&#62;
                    &#60;pl-divider [dashed]="true"&#62;&#60;/pl-divider&#62;
                &#60;/div&#62;
              `
            })
            export class AppComponent {
              // Your Angular component logic
            }
        </code>
      </pre>

      <p>
        These examples assume that you've configured your framework project to
        work with web components and that you've imported the Lit Element
        component correctly. Adjust import paths accordingly.
      </p>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>
    </div>

    <script src="./divider.js" type="module"></script>
    <!-- <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
  </body>
</html>
