<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Time Picker</title>

    <link
      rel="stylesheet"
      href="../../../node_modules/bootstrap/dist/css/bootstrap.css"
    />

    <link
      rel="stylesheet"
      href="../../../node_modules/lit-fontawesome/css/font.css"
    />

    <link
      rel="stylesheet"
      href="../../../node_modules/font-awesome/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="../../styles/components.css" />

    <style></style>
  </head>
  <body>
    <div class="title">Time Picker</div>
    <div class="demo-wrapper">
      <div class="main">
        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div class="timepicker-wrapper">
                  <timepicker-manager></timepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Default Time Picker. Change time by typing into the input
                  field or using the timepicker dropdown.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div class="timepicker-wrapper" style="margin-bottom: 20px">
                  <timepicker-manager display24HourOnly></timepicker-manager>
                </div>

                <div class="timepicker-wrapper">
                  <timepicker-manager display12HourOnly></timepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Hide the Switch Format button. Change time by typing into the
                  input field or using the Open Timepicker dropdown.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div class="timepicker-wrapper">
                  <timepicker-manager hideTimepickerBtn></timepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Hide/remove the Open Timepicker button and dropdown. Change
                  time by typing into the input field.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div class="timepicker-wrapper" style="margin-bottom: 20px">
                  <timepicker-manager size="sm"></timepicker-manager>
                </div>
                <div class="timepicker-wrapper" style="margin-bottom: 20px">
                  <timepicker-manager></timepicker-manager>
                </div>
                <div class="timepicker-wrapper" style="margin-bottom: 20px">
                  <timepicker-manager size="lg"></timepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Set the size of the timepicker. Available sizes are sm and lg.
                  No size property required for default size.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>

        <section>
          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div class="timepicker-wrapper">
                  <timepicker-manager usePlTimepicker></timepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Default Plumage Time Picker. Change time by typing into the
                  input field or using the timepicker dropdown.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div class="timepicker-wrapper" style="margin-bottom: 20px">
                  <timepicker-manager
                    usePlTimepicker
                    display24HourOnly
                  ></timepicker-manager>
                </div>

                <div class="timepicker-wrapper">
                  <timepicker-manager
                    usePlTimepicker
                    display12HourOnly
                  ></timepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Hide the Switch Format button. Change time by typing into the
                  input field or using the Open Timepicker dropdown.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div class="timepicker-wrapper">
                  <timepicker-manager
                    usePlTimepicker
                    hideTimepickerBtn
                  ></timepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Hide/remove the Open Timepicker button and dropdown. Change
                  time by typing into the input field.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>

          <section class="section">
            <section class="display-box" id="db-1">
              <section class="display-box-demo">
                <div class="timepicker-wrapper" style="margin-bottom: 20px">
                  <timepicker-manager
                    usePlTimepicker
                    size="sm"
                  ></timepicker-manager>
                </div>
                <div class="timepicker-wrapper" style="margin-bottom: 20px">
                  <timepicker-manager usePlTimepicker></timepicker-manager>
                </div>
                <div class="timepicker-wrapper" style="margin-bottom: 20px">
                  <timepicker-manager
                    usePlTimepicker
                    size="lg"
                  ></timepicker-manager>
                </div>
              </section>
              <section class="display-box-meta markdown">
                <div class="display-box-title">Basic Usage</div>
                <div class="display-box-description">
                  Set the size of the timepicker. Available sizes are sm and lg.
                  No size property required for default size.
                </div>
                <div class=""></div>
              </section>
            </section>
          </section>
        </section>
      </div>
    </div>

    <!-- Props -->
    <div style="margin-top: 50px">
      <div class="title">Props</div>
      <div style="margin: 25px 0 10px; font-weight: bold">Styling</div>
      <div class="table-wrapper">
        <table>
          <thead>
            <tr>
              <th>Property</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>ariaLabel</td>
              <td>String</td>
              <td></td>
              <td>
                For aria-label for the timepicker input field. Used for
                accessibility.
              </td>
            </tr>
            <tr>
              <td>ariaLabeledby</td>
              <td>String</td>
              <td></td>
              <td>
                For aria-labeledby for the timepicker input field. Used for
                accessibility.
              </td>
            </tr>
            <tr>
              <td>display12HourOnly</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Display timepicker in 12-hour format only. Hide the Switch
                Format button.
              </td>
            </tr>
            <tr>
              <td>display24HourOnly</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Display timepicker in 24-hour format only. Hide the Switch
                Format button.
              </td>
            </tr>
            <tr>
              <td>displayValidationMessages</td>
              <td>Boolean</td>
              <td>true</td>
              <td>
                Display validation messages. If set to false, validation
                messages will not be displayed.
              </td>
            </tr>
            <tr>
              <td>hideSeconds</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Removes the seconds from the time format and hides the seconds
                field in the timepicker.
              </td>
            </tr>
            <tr>
              <td>hideTimepickerBtn</td>
              <td>Boolean</td>
              <td>false</td>
              <td>Hide the Open Timepicker button and dropdown.</td>
            </tr>
            <tr>
              <td>id</td>
              <td>String</td>
              <td></td>
              <td>
                For id for the timepicker input field. Used for accessibility.
              </td>
            </tr>
            <tr>
              <td>inputName</td>
              <td>String</td>
              <td></td>
              <td>For name attribute for the timepicker input field.</td>
            </tr>
            <tr>
              <td>inputName</td>
              <td>String</td>
              <td></td>
              <td>For name attribute for the timepicker input field.</td>
            </tr>
            <tr>
              <td>inputWidth</td>
              <td>Number</td>
              <td></td>
              <td>
                Set the width of the timepicker input field with an inline style. Default width is
                100%.
              </td>
            </tr>
            <tr>
              <td>size</td>
              <td>String</td>
              <td>sm, lg</td>
              <td>
                Set the size of the timepicker. Available sizes are sm and lg.
                Not required for default size.
              </td>
            </tr>
            <tr>
              <td>usePlTimePicker</td>
              <td>Boolean</td>
              <td>false</td>
              <td>
                Use the Plumage Styled Time Picker. If set to true, the Plumage
                Styled Time Picker will be used instead of the default time
                picker.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Instructions -->
    <div style="margin-top: 50px">
      <div class="title">Using Component in other JavaScript Frameworks</div>

      <p>
        Integrating a Lit Element component with other JavaScript frameworks
        like Vue, React, and Angular involves creating a wrapper component in
        each framework to encapsulate and use the Lit Element component. Here
        are examples for each framework:
      </p>

      <h5>Vue.js</h5>
      <p>Install the necessary packages:</p>
      <p>
        Make sure you have the necessary dependencies installed. You might need
        to install @webcomponents/webcomponentsjs for polyfills if you need to
        support older browsers.
      </p>

      <pre>
        <code>
          npm install @webcomponents/webcomponentsjs
        </code>
      </pre>
      <p>Import the LitElement component in your Vue component:</p>

      <pre>
          <code>
            &#60;template&#62;
            &#60;div id="app"&#62;
            &#60;timepicker-manager
                  :ariaLabel="'Time Picker'"
                  :ariaLabelledby="'time-label'"
                  :id="'time-input'"
                  :inputName="'time'"
                  :is24HourFormat="true"
                  :size="''"
                  :validationMessage="''"
                  :display24HourOnly="false"
                  :display12HourOnly="false"
                  :hideTimepickerBtn="false"
                  :isValid="true"
                  :hideSeconds="false"
                  :usePlTimePicker="false"
                  @change="handleTimeChange"
                  &#62;&#60;/timepicker-manager&#62;

                  &#60;p&#62;Selected Time: {{ selectedTime }}&#60;/p&#62;

                &#60;/div&#62;
                &#60;/template&#62;
            
                &#60;script&#62;
                  export default {
                    name: "App",
                    data() {
                      return {
                        selectedTime: '',
                      };
                    },
                    methods: {
                      handleTimeChange(event) {
                        this.selectedTime = event.detail.value;
                      },
                    },
                  };
                &#60;/script&#62;
          </code>
        </pre>

      <p>Include polyfills in your main.js or index.js:</p>
      <pre>
          <code>
            import '@webcomponents/webcomponentsjs/webcomponents-bundle.js';
            import { createApp } from 'vue';
            import App from './App.vue';

            createApp(App).mount('#app');
          </code>
        </pre>

      <h5>React</h5>
      <p>Install the necessary packages:</p>
      <pre>
        <code>
          // bash
          npm install @webcomponents/webcomponentsjs
        </code>
      </pre>

      <p>Import the LitElement component in your React component:</p>

      <pre>
          <code>
            import React from 'react';
            import ReactDOM from 'react-dom';
            import 'path/to/timepicker-manager.js';
            import '@webcomponents/webcomponentsjs/webcomponents-bundle.js';

            function App() {
              const [selectedTime, setSelectedTime] = useState('');
            
              useEffect(() => {
                const timepickerManager = document.querySelector('timepicker-manager');
                const handleTimeChange = (event) => {
                  setSelectedTime(event.detail.value);
                };
            
                timepickerManager.addEventListener('change', handleTimeChange);
            
                return () => {
                  timepickerManager.removeEventListener('change', handleTimeChange);
                };
              }, []);
              return (
                &#60;div className="App"&#62;
                &#60;timepicker-manager
                    ariaLabel="Time Picker"
                    ariaLabelledby="time-label"
                    id="time-input"
                    inputName="time"
                    is24HourFormat={true}
                    size=""
                    validationMessage=""
                    display24HourOnly={false}
                    display12HourOnly={false}
                    hideTimepickerBtn={false}
                    isValid={true}
                    hideSeconds={false}
                    usePlTimePicker={false}
                    &#62;&#60;/timepicker-manager&#62;
                  &#60;p&#62;Selected Time: {selectedTime}&#60;/p&#62;
                  &#60;/div&#62;
              );
            }

            ReactDOM.render(<App />, document.getElementById('root'));

          </code>
        </pre>

      <h5>Angular</h5>
      <p>Install the necessary packages:</p>
      <pre>
        <code>
          // bash
          npm install @webcomponents/webcomponentsjs
        </code>
      </pre>

      <p>Add the LitElement component to your angular.json:</p>
      <pre>
        <code>
          "scripts": [
            "node_modules/@webcomponents/webcomponentsjs/webcomponents-bundle.js"
          ]
        </code>
      </pre>

      <p>Import the LitElement component in your Angular component:</p>

      <pre>
          <code>
            // src/app/app.component.ts
            import { Component, OnInit } from '@angular/core';
            import 'path/to/timepicker-manager.js';
            
            @Component({
              selector: 'app-root',
              template: `
              &#60;timepicker-manager
                [ariaLabel]="'Time Picker'"
                [ariaLabelledby]="'time-label'"
                [id]="'time-input'"
                [inputName]="'time'"
                [is24HourFormat]="true"
                [size]="''"
                [validationMessage]="''"
                [display24HourOnly]="false"
                [display12HourOnly]="false"
                [hideTimepickerBtn]="false"
                [isValid]="true"
                [hideSeconds]="false"
                [usePlTimePicker]="false"
                (change)="handleTimeChange($event)"
                  &#62;&#60;/timepicker-manager&#62;

                  &#60;p&#62;Selected Time: {{ selectedTime }}&#60;/p&#62;
              `,
              styleUrls: ['./app.component.css']
            })
            export class AppComponent implements OnInit {
              selectedTime = '';
            
              ngOnInit() {}
            
              handleTimeChange(event: any) {
                this.selectedTime = event.detail.value;
              }
            }
            
          </code>
        </pre>

      <p>Include polyfills in your polyfills.ts:</p>
      <pre>
        <code>
          import '@webcomponents/webcomponentsjs/webcomponents-bundle.js';
        </code>
      </pre>

      <p>Summary</p>
      <p>For each framework, you need to:</p>
      <ol>
        <li>
          Listen for custom events (like change) emitted by the LitElement
          component.
        </li>
        <li>Update the framework's state with the new value from the event.</li>
      </ol>
      <p>
        The handleTimeChange function will capture the emitted value from the
        TimePicker or PlTimePicker component and store it in a reactive state
        (data property in Vue, state in React, or class property in Angular).
      </p>

      <p>
        Adjust the paths and imports based on your project structure. The
        provided examples showcase how to create wrapper components for each
        framework to use your Lit Element 'Table' component.
      </p>

      <p>
        The interoperability is possible because Web Components, once defined
        and registered as custom elements, act like native HTML elements that
        these frameworks can understand and interact with.
      </p>
    </div>

    <script src="./timepicker-manager.js" type="module"></script>
    <script src="../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
